.map-container {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ebebeb;
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease-out, visibility 1s;

    &.hidden {
        opacity: 0;
        visibility: hidden;
    }

    .fa-home,
    .fa-expand-arrows-alt {
        width: 29px;
        height: 29px;
        color: black;
    }
}
