$rem-baseline: 16;
$rem-baseline-px: 16px;
$rem-fallback: false;
$rem-px-only: false;

$grid-breakpoints: (
    xs: 0,
    sm: 480px,
    md: 768px,
    lg: 998px,
    xl: 1100px,
);

$icons-font-family: "efp-symbols" !default;
$icons-font-path: "../../public/fonts" !default;

$icon-cafe-solid: "\e90d";
$icon-checkmark: "\e900";
$icon-checkmark-solid: "\e901";
$icon-chevron-down: "\e902";
$icon-chevron-down-narrow: "\e903";
$icon-chevron-left: "\e904";
$icon-chevron-right: "\e905";
$icon-chevron-up: "\e906";
$icon-chevron-up-narrow: "\e907";
$icon-church-solid: "\e908";
$icon-circle-solid: "\e909";
$icon-clock: "\e90a";
$icon-close: "\e90b";
$icon-close-solid: "\e90c";
$icon-cologne-tower: "\e90e";
$icon-cologne-tower-solid: "\e90f";
$icon-copy: "\e910";
$icon-crown: "\e911";
$icon-diamond: "\e912";
$icon-directions: "\e913";
$icon-download: "\e914";
$icon-event-solid: "\e915";
$icon-exhibitors: "\e916";
$icon-exhibitor-solid: "\e917";
$icon-eye: "\e918";
$icon-eye-off: "\e919";
$icon-eye-off-1: "\e91a";
$icon-facebook: "\e91b";
$icon-file: "\e91c";
$icon-file-solid: "\e91d";
$icon-globe: "\e91e";
$icon-hall: "\e91f";
$icon-hand-pointing: "\e920";
$icon-hand-solid: "\e921";
$icon-image: "\e922";
$icon-info-solid: "\e923";
$icon-instagram: "\e924";
$icon-language: "\e925";
$icon-layers: "\e926";
$icon-link: "\e927";
$icon-linkedin: "\e928";
$icon-link-external: "\e929";
$icon-list: "\e92a";
$icon-lounge-solid: "\e92b";
$icon-mail: "\e92c";
$icon-man-walking-solid: "\e92d";
$icon-map: "\e92e";
$icon-mark: "\e92f";
$icon-marker-pin: "\e930";
$icon-marker-pin-solid: "\e931";
$icon-maximize: "\e932";
$icon-menu: "\e933";
$icon-microphone: "\e934";
$icon-minus: "\e935";
$icon-moon: "\e936";
$icon-museum: "\e937";
$icon-museum-solid: "\e938";
$icon-music-sport: "\e939";
$icon-music-sport-solid: "\e93a";
$icon-navigation: "\e93b";
$icon-phone: "\e93c";
$icon-plus: "\e93d";
$icon-question-solid: "\e93e";
$icon-refresh: "\e93f";
$icon-restaurant-solid: "\e940";
$icon-roman-helmet: "\e941";
$icon-roman-helmet-solid: "\e942";
$icon-schedule: "\e943";
$icon-search: "\e944";
$icon-share: "\e945";
$icon-share-second: "\e946";
$icon-shopping-bag: "\e947";
$icon-size: "\e948";
$icon-speaker-solid: "\e949";
$icon-stage-solid: "\e94a";
$icon-stars: "\e94b";
$icon-switch-horizontal: "\e94c";
$icon-switch-vertical: "\e94d";
$icon-tag: "\e94e";
$icon-twitter-x: "\e94f";
$icon-user: "\e950";
$icon-verified-check: "\e951";
$icon-warning-solid: "\e952";
$icon-xing: "\e953";
$icon-youtube: "\e954";
$icon-zoom-in: "\e955";
$icon-zoom-out: "\e956";
$icon-d: "\e957";
$icon-d1: "\e958";
$icon-arrow-narrow-left: "\e959";
$icon-artwork: "\e95a";
$icon-bookmark: "\e95b";
$icon-bookmark-solid: "\e95c";
$icon-booths: "\e95d";
$icon-booth-solid: "\e95e";
$icon-box-3d: "\e95f";
$icon-castle: "\e960";
$icon-castle-solid: "\e961";
$icon-categories: "\e962";
$icon-category-solid: "\e963";
