@import "index";

@font-face {
    font-family: "#{$icons-font-family}";
    src: url("#{$icons-font-path}/#{$icons-font-family}.woff?ek80j1") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
body {
    padding: 0 !important;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}
.layout {
    padding: 20px;
}
.map {
    width: 100vw;
    height: 100vh;
    background: gray;
}
.sidebar {
    width: 100%;
    max-width: 376px;
    height: 100vh;
    padding: 20px 15px;
    background: #fff;
}
