@use "@styles/utils" as *;

.efp-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(10px);
    font-weight: var(--font-weight-medium);

    &--ghost {
        color: var(--color-black);
    }

    &--lightgray {
        background: var(--color-gray-200);
        color: var(--color-gray-700);
    }

    &--gray {
        background: var(--color-gray-400);
        color: var(--color-gray-700);
    }

    &--orange {
        background: var(--color-orange);
        color: var(--color-black);
    }

    &--lg {
        gap: rem(8px);
        padding: rem(10px);
        border-radius: var(--border-radius-md);
        font-size: var(--font-size-xl);
    }

    &--md {
        gap: rem(6px);
        padding: rem(6px 8px);
        border-radius: var(--border-radius-md);
        font-size: var(--font-size-lg);
    }

    &--no-margins {
        margin: 0;
    }
}
