.efp-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: var(--border-radius-md);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-medium);

    &--ghost {
        color: var(--color-black);
    }

    &--lightgray {
        background: var(--color-gray-200);
        color: var(--color-gray-700);
    }

    &--gray {
        background: var(--color-gray-400);
        color: var(--color-gray-700);
    }

    &--no-margins {
        margin: 0;
    }
}
