@use "@styles/utils" as *;

.efp-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(10px);
    font-weight: var(--font-weight-medium);

    &--primary {
        background: var(--color-primary);
        color: var(--color-white);
    }

    &--primary-light {
        background: var(--color-primary-ultra-light);
        color: var(--color-primary);
    }

    &--ghost {
        color: var(--color-black);
    }

    &--lightgray {
        background: var(--color-gray-200);
        color: var(--color-gray-800);
    }

    &--gray {
        background: var(--color-gray-300);
        color: var(--color-gray-800);
    }

    &--orange {
        background: var(--color-orange);
        color: var(--color-black);
    }

    &--lg {
        gap: rem(8px);
        padding: rem(10px);
        border-radius: var(--border-radius-md);
        font-size: var(--font-size-xl);

        &.is-rounded {
            min-width: rem(28px);
            height: rem(28px);
        }
    }

    &--md {
        gap: rem(6px);
        padding: rem(6px 8px);
        border-radius: var(--border-radius-md);
        font-size: var(--font-size-md);

        &.is-rounded {
            min-width: rem(24px);
            height: rem(24px);
        }

        @include kiosk {
            gap: rem(8px);
            padding: rem(10px 12px);
            font-size: var(--font-size-xl);
        }
    }

    &.is-no-margin {
        margin: 0;
    }

    &.is-rounded {
        border-radius: var(--border-radius-full);
    }
}
