.bookmark-svg {
    display: block;
    fill: rgba(0, 0, 0, 0.135);

    .-exhibitor-featured & {
        fill: #ddd;
    }
    .bookmarked & {
        fill: var(--color-bookmarked);
    }
}
