.bookmark-svg {
    display: block;
    fill: rgb(0 0 0 / 13.5%);

    .-exhibitor-featured & {
        fill: #ddd;
    }

    .bookmarked & {
        fill: var(--color-bookmarked);
    }
}
