@use "@styles/utils" as *;

.efp-bar {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-bold);
    color: var(--color-black);

    > span {
        color: var(--color-gray-500);
        font-weight: var(--font-weight-normal);
    }
}
