@use "@styles/utils" as *;

.efp-button,
a.efp-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: rem(400px);
    background: var(--color-primary);
    border: 0;
    border-radius: var(--border-radius-full);
    outline: none;
    font-family: var(--app-font-family);
    font-weight: var(--font-weight-medium);
    color: var(--color-white);
    text-decoration: none;
    cursor: pointer;
    transition: background 0.1s ease-in-out;

    &:hover {
        background: var(--color-primary-dark);
        color: var(--color-white);
    }

    &:active {
        background: var(--color-primary);
        box-shadow: 0 0 8px rgb(61 145 247 / 30%);
        color: var(--color-white);
    }

    &:disabled,
    &--disabled {
        background: var(--color-gray-500);
        pointer-events: none;

        &:hover,
        &:active {
            background: var(--color-gray-500);
            box-shadow: unset;
        }
    }

    &--inline {
        display: inline-flex;
        width: auto;
    }

    &--secondary {
        background: var(--color-primary-ultra-light);
        color: var(--color-primary);

        &:hover,
        &:active {
            background: var(--color-primary-ultra-light);
            color: var(--color-primary-dark);
        }
    }

    &--gray {
        background: var(--color-gray-200);
        color: var(--color-black);

        &:hover,
        &:active {
            background: var(--color-gray-400);
            color: var(--color-black);
        }
    }

    &--gray-border {
        background: var(--color-white);
        border: 1px solid var(--color-gray-400);
        color: var(--color-black);

        &:hover,
        &:active {
            background: var(--color-gray-200);
            border-color: var(--color-gray);
            color: var(--color-black);
        }
    }

    &--lg {
        min-width: rem(160px);
        min-height: rem(42px);
        padding: rem(10px 20px);
        font-size: var(--font-size-xl);
    }

    &--md {
        min-width: rem(140px);
        min-height: rem(38px);
        padding: rem(8px 18px);
        font-size: var(--font-size-lg);
    }

    &--sm {
        min-width: rem(100px);
        min-height: rem(30px);
        padding: rem(4px 16px);
        font-size: var(--font-size-xl);
    }
}
