.bar {
    min-height: 2.5rem;
    margin-top: 1rem;
    font-size: 1.1em;
    font-weight: 600;
    color: var(--color-black);

    &--language {
        display: flex;
        align-items: center;
        margin: 0;
    }
    > span {
        color: rgba(0, 0, 0, 0.35);
        font-weight: 400;
    }
}
.note {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.35);
    display: block;
    font-weight: normal;
    margin-top: -0.2rem;
}

.efp-kiosk {
    .bar {
        margin-top: 0;
    }
    .note {
        font-size: 0.7em;
    }
}
