@use "@styles/utils" as *;

.efp-bar {
    min-height: rem(40px);
    margin-top: rem(16px);
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-bold);
    color: var(--color-black);

    &--language {
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0;
    }
    > span {
        color: var(--color-gray-600);
        font-weight: var(--font-weight-normal);
    }

    @include kiosk {
        margin-top: 0;
    }
}
.efp-note {
    display: block;
    margin-top: rem(-2px);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-normal);
    color: var(--color-gray-600);
}
