@use "@styles/vars";
@use "@styles/utils" as *;

.efp-checkbox {
    display: inline-flex;

    input[type="checkbox"] {
        display: none;

        & ~ label {
            position: relative;
            font-weight: var(--font-weight-medium);
            color: var(--color-gray-900);
            cursor: pointer;
            user-select: none;

            &::before {
                content: "";
                position: absolute;
                background: var(--color-white);
                border: 1px solid var(--color-gray-400);
                border-radius: var(--border-radius-sm);
            }

            &::after {
                content: "";
                position: absolute;
                opacity: 0;
                color: var(--color-white);
                @include icon;
            }
        }

        &:checked ~ label {
            &::before {
                background: var(--color-primary);
                border-color: var(--color-primary);
            }

            &::after {
                content: vars.$icon-checkmark;
                opacity: 1;
            }
        }

        &:indeterminate ~ label {
            &::before {
                border-color: var(--color-primary);
            }

            &::after {
                content: "";
                opacity: 1;
                background-color: var(--color-primary);
                border-radius: var(--border-radius-sm);
            }
        }
    }

    &--md {
        input[type="checkbox"] {
            & ~ label {
                min-width: rem(18px);
                min-height: rem(18px);
                padding-left: rem(30px);
                font-size: rem(16px);

                &::before {
                    top: 0;
                    left: 0;
                    width: rem(20px);
                    height: rem(20px);
                }

                &::after {
                    top: rem(1px);
                    left: rem(1px);
                    font-size: var(--icon-size-sm);
                }
            }

            &:indeterminate ~ label {
                &::after {
                    top: rem(9px);
                    left: rem(5px);
                    width: rem(10px);
                    height: rem(2px);
                }
            }
        }
    }

    &--sm {
        input[type="checkbox"] {
            & ~ label {
                min-width: rem(14px);
                min-height: rem(14px);
                padding-left: rem(22px);
                font-size: rem(14px);

                &::before {
                    top: 0;
                    left: 0;
                    width: rem(16px);
                    height: rem(16px);
                }

                &::after {
                    top: rem(1px);
                    left: rem(1px);
                    font-size: var(--icon-size-xxs);
                }
            }

            &:indeterminate ~ label {
                &::after {
                    top: rem(7px);
                    left: rem(4px);
                    width: rem(8px);
                    height: rem(2px);
                }
            }
        }
    }

    &:hover input[type="checkbox"]:not(:checked):not(:indeterminate) ~ label::before {
        background: var(--color-gray-100);
        border-color: var(--color-gray-400);
    }
}
