@use "@styles/vars";
@use "@styles/utils" as *;

.checkbox {
    display: inline-flex;

    input[type="checkbox"] {
        display: none;

        & ~ label {
            position: relative;
            min-width: rem(18px);
            min-height: rem(18px);
            padding-left: rem(30px);
            font-size: rem(16px);
            font-weight: var(--font-weight-medium);
            color: var(--color-gray-800);
            cursor: pointer;
            user-select: none;

            &::before {
                content: "";
                position: absolute;
                top: 1px;
                left: 0;
                width: rem(20px);
                height: rem(20px);
                background: var(--color-white);
                border: 1px solid var(--color-gray-400);
                border-radius: var(--border-radius-sm);
            }

            &::after {
                content: "";
                content: vars.$icon-checkmark;
                position: absolute;
                top: 2px;
                left: 1px;
                opacity: 0;
                font-size: var(--icon-size-sm);
                color: var(--color-primary);

                @include icon;
            }
        }

        &:checked ~ label {
            &::before {
                border-color: var(--color-primary);
            }

            &::after {
                opacity: 1;
            }
        }
    }
}
