@use "@styles/vars";
@use "@styles/utils" as *;

.efp-checkbox-button {
    display: flex;
    gap: rem(8px);
    align-items: center;
    justify-content: center;
    max-width: rem(400px);
    min-height: rem(42px);
    padding: rem(0 14px 0 10px);
    background: var(--color-white);
    border: 1px solid var(--color-gray-500);
    border-radius: var(--border-radius-full);
    outline: none;
    font-family: var(--app-font-family);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
    color: var(--color-gray-600);
    text-decoration: none;
    cursor: pointer;
    transition: background 0.1s ease-in-out;

    &:hover {
        background: var(--color-gray-200);
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(20px);
        height: rem(20px);
        border: 1px solid var(--color-gray-600);
        border-radius: var(--border-radius-full);
        transition: background 0.1s ease-in-out;
    }

    &.checked {
        background: var(--color-visited);
        border-color: var(--color-visited);
        color: var(--color-white);

        .efp-checkbox-button__inner {
            border-color: var(--color-visited);

            &::after {
                @include icon;

                content: vars.$icon-checkmark;
                font-size: var(--icon-size-md);
                color: var(--color-white);
            }
        }
    }

    &__inner.animate {
        &::after {
            animation: scale-icon 0.3s ease-in-out;
        }
    }
}

@keyframes scale-icon {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(1.8);
    }

    100% {
        transform: scale(1);
    }
}
