@import "../styles/helpers.scss";

.cookie-consent {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 8px;
    max-width: 400px;
    padding: 12px 16px 14px;
    background: var(--color-white);
    border-radius: var(--border-radius-1);
    box-shadow: var(--shadow-base);
    font-size: var(--text-size-1);
    z-index: 9999;

    &__title {
        color: var(--color-primary);
        font-weight: var(--font-bold);
    }
    &__text {
        font-size: var(--text-size-2);
    }
    &__bottom {
        display: flex;
        gap: 10px;
        padding-top: 8px;

        button.efp-button {
            min-width: unset;

            &--primary {
                flex: 2;
            }
            &--gray {
                flex: 1;
            }
        }
    }
    a {
        color: var(--color-black);
        text-decoration: none;
        border-bottom: 1px solid var(--color-black);

        &:hover {
            color: var(--color-primary);
            border-color: var(--color-primary);
        }
    }
    @include media-breakpoint-down(sm) {
        bottom: 0;
        right: 0;
        width: 100%;
        max-width: unset;
    }
}
