.demo {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #ab40a0;
    background: linear-gradient(90deg, #e5175c, #5c17e5);

    min-height: 2rem;

    > section {
        display: flex;
        font-size: 0.8rem;
        user-select: none;
        padding: 0.2rem 0.5rem;
    }

    &__message {
        color: #fff;
        display: flex;
        align-items: center;
        a {
            color: #fff;
            text-decoration: underline;
        }
    }

    &__dismiss {
        display: flex;
        align-items: center;
        background: #1378d5;
        color: #fff !important;
        padding: 0.1rem 0.8rem;
        text-decoration: none !important;
        border-radius: 2px;
        font-weight: 500;
        font-size: 0.8rem;
        &:hover {
            background: #69b7ff;
        }
        margin-inline-start: 0.5rem;
        @media print {
            display: none;
        }
    }

    transition: all 0.5s;
    opacity: 1;
    bottom: 0;
    &.top {
        bottom: unset;
        min-height: 2.5rem;
        top: 0;
        width: 100%;
        > section {
            flex-grow: 1;
        }
        span {
            display: inline-block;
        }

        .demo__message {
            flex-grow: 1;
        }
    }

    &.hidden {
        transform: translate(0, 100%);
    }
    &.top.hidden {
        transform: translate(0, -100%);
    }
}
