@use "@styles/vars";
@use "@styles/utils" as *;

$entity-item: ".efp-entity-item";

#{$entity-item} {
    position: relative;
    display: flex;
    align-items: center;
    min-height: rem(72px);
    background: var(--color-white);
    border-bottom: 1px solid var(--color-gray-300);

    &__link {
        position: absolute;
        top: 0;
        z-index: 20;
        width: 100%;
        height: 100%;
    }

    &__body {
        position: relative;
        z-index: 10;
        display: flex;
        align-items: flex-start;
        gap: rem(14px);
        width: 100%;
        padding: rem(16px 14px);
    }

    &__left {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        gap: rem(6px);
    }

    &__right {
        flex: 1;
        display: flex;
        gap: rem(6px);
    }

    &__content {
        flex: 1;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(20px);
        height: rem(20px);
        margin-top: rem(-1px);
        background: var(--item-type-color);
        border-radius: var(--border-radius-full);

        & > i {
            font-size: var(--icon-size-xxxs);
            color: var(--color-white);
        }
        & > img {
            width: rem(12px);
            height: rem(12px);
            filter: brightness(100) contrast(100);
        }
    }

    &__visited {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(20px);
        height: rem(20px);
        margin-top: rem(1px);
        padding-top: rem(1px);
        background: var(--color-visited);
        border-radius: var(--border-radius-full);

        & > i {
            font-size: var(--icon-size-xxs);
            color: var(--color-white);
        }
    }

    &__bookmarked {
        font-size: var(--icon-size-md) !important;
        color: var(--color-bookmarked);
    }

    &__content {
        display: flex;
        flex: 1;
        flex-direction: column;
        max-width: calc(100% - 20px);
        padding-right: rem(14px);
    }

    &__datetime {
        font-size: var(--font-size-md);
        color: var(--item-type-color);

        & > span {
            margin-left: rem(6px);
        }
    }

    &__header {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
    }

    &__title {
        align-items: center;
        font-size: var(--font-size-xxl);
        font-weight: var(--font-weight-medium);
        color: var(--color-black);
        letter-spacing: 0.01em;

        & > span {
            margin-left: rem(6px);
            font-size: var(--font-size-lg);
            font-weight: var(--font-weight-normal);
            color: var(--color-gray-600);
        }
        & > i {
            position: relative;
            top: rem(1px);
            margin-left: rem(6px);
            font-size: var(--icon-size-xs);
            color: var(--color-primary);
        }
    }

    &__subtitle {
        margin-top: rem(2px);
        font-size: var(--font-size-md);
        color: var(--color-gray-600);
        letter-spacing: 0.01em;
    }

    &__details {
        display: flex;
        flex-flow: column wrap;
        row-gap: rem(6px);
        margin: rem(8px 0 0);
        padding: 0;
        list-style: none;
    }

    &__details-item {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        row-gap: rem(3px);
        font-size: var(--font-size-md);
        line-height: var(--font-size-md);
        color: var(--color-gray-700);
        letter-spacing: 0.01em;

        & > i {
            margin-right: rem(6px);
            font-size: var(--icon-size-xss);
            color: var(--color-gray-500);
        }

        & > span {
            display: inline-flex;
            align-items: center;

            &:not(:last-child):not(.booth-badge) {
                position: relative;

                &::after {
                    content: "";
                    display: inline-block;
                    width: rem(4px);
                    height: rem(4px);
                    border-radius: var(--border-radius-full);
                    background-color: var(--color-gray-500);
                    margin: rem(0 8px);
                    vertical-align: middle;
                }
            }
            span {
                font-weight: var(--font-weight-medium);
            }
        }
    }

    .booth-badge {
        display: inline-flex;
        align-items: center;
        gap: rem(2px);
        min-height: rem(20px);
        margin: (0 6px 0 -1px);
        padding: rem(3px 5px);
        background: var(--color-primary-ultra-light);
        color: var(--color-primary-ultra-dark);
        border-radius: var(--border-radius-full);

        & > i {
            align-self: flex-start;
            font-size: var(--icon-size-xss);
            color: var(--color-primary);
        }
    }

    &__image {
        flex-shrink: 0;
        width: rem(68px);
        height: rem(56px);
        margin-top: rem(-1px);
        overflow: hidden;
        background: var(--color-white);
        border-radius: var(--border-radius-xs);
        border: 1px solid var(--color-gray-300);
        display: flex;
        align-items: center;
        justify-content: center;

        & > img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }

    &__featured {
        display: inline-flex;
        align-items: center;
        min-height: rem(20px);
        margin: rem(6px 0 0 -1px);
        padding: rem(3px 6px);
        text-align: center;
        background: var(--color-featured-badge-bg);
        border-radius: var(--border-radius-full);
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-normal);
        color: var(--color-featured-badge-text);
        letter-spacing: 0.03em;
    }

    &:hover {
        background: var(--color-gray-200);

        .booth-badge {
            background: #d5e5fb;
        }
    }

    &.is-featured {
        background: var(--color-featured);
        border-bottom: 1px solid var(--color-featured-border);

        .booth-badge {
            background: #d5e5fb;
        }

        &:hover {
            background: var(--color-featured-hover);

            .booth-badge {
                background: #c5dbfe;
            }
        }
    }
}
