@import "../styles/helpers.scss";

.expo-jtrade19 .exhibitor__categories-booth {
    background: #e9522a; //#fb3e59;

    &:hover {
        background: #e9522a; //#ea2b46;
    }
}

.overlay-content.-exhibitor-featured {
    background: #230762;
    color: #fff;

    .exhibitor__bar,
    .exhibitor__meta {
        color: #fff;
    }
}

.exhibitor {
    // &__booth {
    //     margin: 0 1rem 0.2rem;
    //     color: #777;
    // }
    &__categories {
        margin-inline-start: 0.7rem;
        margin-inline-end: 1rem;
        margin-bottom: 1rem;
        font-size: 0.9rem;

        // display: flex;
        // flex-direction: column;
        // align-items: flex-start;
        > a {
            display: inline-block;

            color: #fff !important;
            font-size: 0.8rem;
            padding: 0.3rem 0.6rem;
            word-break: break-all;
            border-radius: 1em;
            margin-top: 0.3rem;
            margin-inline-start: 0.3rem;
            text-decoration: none !important;
        }

        &-cat {
            background: #41b6e7;

            &:hover {
                background: #1598d0;
            }
        }

        &-sponsorship {
            background: #ff8c00;

            &:hover {
                background: #e87f00;
            }
        }

        &-booth {
            background: #fb3e59;

            &:hover {
                background: #ea2b46;
            }
        }
    }

    &__logo-container {
        width: 75px;
        height: 75px;
        float: left;
        margin-top: 0.3rem;
        margin-bottom: 0.4rem;
        margin-inline-end: 0.8rem;
        border: solid 1px #ddd;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;
        background: #fff;
    }

    &__logo {
        max-width: 100%;
        max-height: 100%;

        // height: 75px;
    }

    &__description,
    &__slider {
        margin: 1rem;
        font-size: 0.9rem;
        position: relative;

        /* &-show {
            display: none;
            position: absolute;
            z-index: 2;
            bottom: -0.7em;
            width: 100%;
            padding-left: 87px;
            // text-align: center;
            // display: block;
            // font-size: 2rem;
            text-decoration: none !important;
        } */

        &-html {
            > *:first-child {
                margin-top: 0;
                padding-top: 0;
            }

            > *:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }

        &.collapsed > .exhibitor__description-html {
            cursor: pointer;

            &:hover {
                opacity: 1;
            }

            opacity: 0.8;
            height: 6.5em;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 35%, transparent 90%);
            mask-image: linear-gradient(rgba(0, 0, 0, 1) 35%, transparent 90%);
        }

        @include clearfix;
    }

    &__market-materials {
        margin: 1rem;
        font-size: 0.9rem;

        div {
            word-break: break-all;
        }
    }

    &__description-html {
        overflow-wrap: break-word;

        ol,
        ul {
            padding-inline-start: 20px;
            display: grid;
        }
    }

    &__sep {
        margin: 1rem;
        border-top: dotted 1px #ddd;
    }

    &__meta {
        color: #333;

        > div {
            display: flex;
            margin: 0.8rem 1rem;
            overflow: hidden;

            > .fas,
            > .far {
                text-align: center;
                min-width: 0.8rem;
                margin-top: 0.2rem;
                color: #ccc;
                font-size: 0.8rem;
            }

            > div {
                font-size: 0.85rem;
                line-height: 1.1rem;

                margin-inline-start: 0.4rem;
                text-overflow: ellipsis;
                overflow: hidden;
                // font-weight: 200;
            }
        }
    }

    &__social {
        margin: 0 1rem 2rem;

        display: flex;

        // justify-content: space-between;
        // padding-top: 1rem;
        > a {
            font-size: 2rem;
            text-decoration: none;

            margin-inline-end: 1rem;
            margin-bottom: 0.5rem;
            color: #eee;
            display: none;

            &:hover {
                color: #eee;
            }

            &[href] {
                display: block;
                color: #adadad;
            }
        }
    }

    &__bar {
        min-height: 2.5rem;
        position: relative;
        line-height: 1.5rem;
        color: #333;
        font-weight: 600;
        padding-top: 1rem;
        margin-inline-start: 1rem;
        font-size: 1.1em;
        flex-grow: 1;

        // display: flex;
        // align-items: center;
        .fa-gem {
            color: #02a8ff;
            margin-left: 0.2rem;
            font-size: 0.85rem;
            line-height: 1.5rem;
        }

        > span {
            display: flex;

            > span {
                max-width: 16rem;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    &__bar-booth {
        margin-left: 1rem;
        font-size: 0.7rem;
        color: #777;
        display: block;
        font-weight: normal;
        height: 1rem;
        line-height: 1em;
        opacity: 0;
        transition: opacity 200ms;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .overlay-bar.scrolled & {
            opacity: 1;
        }
    }

    &__bar-bk {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0 1rem 1rem 1rem;
        /* align-self: stretch; */
    }

    &__edit {
        position: relative;
        display: none;

        > button {
            position: absolute;
            right: 1rem;
            padding: 0 0 1rem 1rem;
            border: 0;
            cursor: pointer;
            color: #aaa;

            &:hover {
                color: #555;
            }
        }

        .overlay-content__scrollable:hover & {
            display: block;
        }
    }

    &__video-chat {
        text-align: center;
        margin: 2rem 0;

        @include button;

        > .video-chat-btn {
            &.disabled {
                background: #c6c6c6;
            }
        }
    }

    &__custom-btn-area {
        margin: 2rem 1rem;
        text-align: center;
    }

    &__leading-image-container {
        margin: 0 0 1rem 0;

        > a {
            display: block;
        }
    }

    &__leading-image {
        display: block;
        width: 100%;
        background: #fff;
    }

    &__buttons {
        margin: 0.65rem 1rem 0 1rem;
    }

    &__video {
        margin: 1rem;
        position: relative;
        height: 0;
        padding-bottom: 51.5%;

        > iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

$imageSliderClass: ".image-slider";

#{$imageSliderClass} {
    &__nav-btn {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 40px;
        margin: 0 6px;
        background: rgba(0, 0, 0, 0.3);
        border: 0;
        border-radius: 10px;
        outline: none;
        cursor: pointer;

        svg {
            fill: var(--color-white);
        }

        &:hover {
            background: rgba(0, 0, 0, 0.6);

            svg {
                fill: var(--color-gray);
            }
        }
    }

    &__toggle {
        position: absolute;
        top: 6px;
        right: 6px;
        width: 32px;
        height: 32px;
        padding: 0;
        background: rgba(0, 0, 0, 0.3);
        border: 0;
        border-radius: 10px;
        cursor: pointer;

        & > svg {
            width: 90%;
            fill: var(--color-white);
        }

        &:hover {
            background: rgba(0, 0, 0, 0.6);

            svg {
                fill: var(--color-gray);
            }
        }
    }

    &.is-full {
        #{$imageSliderClass}__nav-btn {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        #{$imageSliderClass}__toggle {
            width: 54px;
            height: 54px;
            background: transparent;
        }
    }
}

.layout[dir="rtl"] .exhibitor {
    &__logo-container {
        float: right;
    }
    &__bar > span {
        gap: 5px;
    }
}

@include responsive-classes-down-to(".exhibitor", sm) {
    #{$imageSliderClass}.is-full {
        #{$imageSliderClass}__nav-btn {
            top: 100%;
            transform: translate(0, -120px);
            width: 50px;
            height: 50px;
            border-radius: 50%;

            & > svg {
                height: 30px !important;
            }

            &.nav-btn-left {
                left: 50% !important;
                margin-left: -60px;
            }

            &.nav-btn-right {
                right: 50% !important;
                margin-right: -60px;
            }
        }
    }
}

.efp-kiosk {
    .exhibitor {
        max-height: calc(100vh - (var(--k-app-gap) * 2));

        .overlay-bar {
            position: relative;
            box-shadow: unset;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &.scrolled {
                box-shadow: var(--k-box-shadow-1);
            }
        }
        .overlay-content__scrollable {
            top: unset;
            max-height: unset;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        &__categories-booth,
        &__categories-cat,
        &__categories-sponsorship {
            padding: var(--k-bottomPadding-2);
            border-radius: 60px;
            font-size: 1.04em;
        }
        &__categories-cat {
            background: var(--k-color-primary);
            border: 1px solid var(--k-color-primary);
            color: var(--color-white) !important;
        }
        &__description {
            margin: var(--k-spacing-md) var(--k-spacing-lg);
            font-size: 0.86em;
        }
        &__logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: var(--k-imageHeight);
            margin: 0 0 var(--k-spacing-md);
            padding: calc(min(2vh, 12px)) calc(min(4vw, 20px));
        }
        &__meta {
            padding-bottom: 4px;
            font-size: 1em;

            & > div {
                margin: var(--k-spacing-sm) var(--k-spacing-lg);

                & > div {
                    margin-inline-start: 10px;
                    font-size: 0.8em;
                    line-height: 1.2em;
                }

                .fas {
                    font-size: 0.8em;
                }
            }
        }
        &__bar {
            margin-left: var(--k-spacing-lg);
        }
        &__bar-booth {
            margin-left: var(--k-spacing-lg);
        }
        &__buttons {
            margin: 0 var(--k-spacing-lg);
        }
        &__categories {
            margin: 0 var(--k-spacing-lg) var(--k-spacing-md);
        }
        &__sep {
            margin: var(--k-spacing-lg);
        }
    }

    #{$imageSliderClass} {
        &__nav-btn {
            width: 40px;
            height: 50px;
        }
        &__toggle {
            width: 40px;
            height: 40px;
        }
        &.is-full {
            #{$imageSliderClass}__toggle,
            #{$imageSliderClass}__nav-btn {
                width: var(--k-mapControl-size);
                height: var(--k-mapControl-size);
            }
        }
    }
}
