@use "@styles/utils" as *;

.exhibitor {
    &__bar {
        position: relative;
        flex-grow: 1;
        min-height: rem(40px);
        padding-inline-start: rem(16px);
        padding-top: rem(12px);
        font-size: var(--font-size-xxl);
        font-weight: var(--font-weight-medium);
        line-height: rem(22px);
        color: var(--color-black);
        letter-spacing: 0.01em;

        .icon-diamond {
            margin-inline-start: rem(4px);
            font-size: var(--icon-size-lg);
            line-height: rem(24px);
            color: var(--color-primary);
        }

        > span {
            display: flex;

            > span {
                max-width: rem(256px);
                overflow: hidden;
                text-align: left;
                text-overflow: ellipsis;
            }
        }
    }

    &__bar-name {
        display: flex;
        align-items: center;
        gap: rem(10px);

        & > span {
            margin-top: 2px;
        }
    }

    &__bar-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-start;
        flex-shrink: 0;
        width: rem(30px);
        height: rem(30px);
        border-radius: var(--border-radius-full);
        background: var(--color-exhibitor);
        color: var(--color-white);

        & > i {
            font-size: var(--icon-size-xxs);
        }
    }

    &__bar-booth {
        display: flex;
        gap: rem(4px);
        height: rem(16px);
        padding-inline-start: rem(16px);
        overflow: hidden;
        opacity: 0;
        font-size: var(--font-size-sm);
        font-weight: normal;
        line-height: rem(16px);
        color: var(--color-gray-600);
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: opacity 200ms;

        .overlay-bar.scrolled & {
            opacity: 1;
        }
    }

    &__bar-bk {
        position: absolute;
        top: 0;
        right: 0;
        padding: rem(0 16px 16px 16px);
    }

    &__buttons {
        margin: rem(0 16px 0 16px);
    }

    &__leading-image-container {
        margin: rem(0 0 16px 0);

        a {
            display: block;
        }
    }

    &__leading-image {
        display: block;
        width: 100%;
        background: var(--color-white);
    }

    &__details {
        display: flex;
        flex-flow: column wrap;
        gap: rem(16px);
        padding: rem(0 16px 18px);
    }

    @include rtl {
        &__bar {
            margin-left: var(--k-spacing-lg);

            > span {
                gap: rem(6px);

                > span {
                    text-align: right;
                }
            }
        }
    }

    @include kiosk {
        max-height: calc(100vh - (var(--k-app-gap) * 2));

        .overlay-bar {
            position: relative;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            box-shadow: unset;

            &.scrolled {
                box-shadow: var(--k-box-shadow-1);
            }
        }

        .overlay-content__scrollable {
            top: unset;
            max-height: unset;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        &__categories-booth,
        &__categories-cat,
        &__categories-sponsorship {
            padding: var(--k-bottom-padding-2);
            border-radius: var(--border-radius-full);
        }

        &__logo-container {
            display: flex;
            align-items: center;
            justify-content: center;
            float: none;
            width: 100%;
            height: var(--k-image-height);
            margin: 0 0 var(--k-spacing-md);
            padding: calc(min(2vh, 12px)) calc(min(4vw, 20px));
        }

        &__details {
            display: block;
            padding-bottom: var(--k-spacing-lg);
        }

        &__description {
            margin: var(--k-spacing-md) var(--k-spacing-lg);
        }
    }
}

.exhibitor-categories {
    display: flex;
    flex-flow: row wrap;
    gap: rem(4px);
    font-size: var(--font-size-lg);

    &__cat,
    &__sponsorship {
        display: inline-flex;
        gap: rem(2px);
        align-items: center;
        min-height: rem(26px);
        padding: rem(4px 8px);
        border-radius: var(--border-radius-full);
        font-size: var(--font-size-md);
        word-break: break-all;
    }

    &__booth {
        display: inline-flex;
        gap: rem(5px);
        align-items: center;
        overflow: hidden;
        padding: rem(4px 8px);
        border-radius: var(--border-radius-full);
        background: var(--color-primary-ultra-light);
        min-height: rem(26px);
        font-size: var(--font-size-md);
        line-height: var(--font-size-md);
        color: var(--color-primary-ultra-dark);
        letter-spacing: 0.01em;

        & > div {
            position: relative;
            display: inline-flex;
            align-items: center;
        }

        &:visited {
            color: var(--color-primary-ultra-dark);
        }

        &:hover,
        &:visited:hover {
            background: #c5dbfe;
            color: var(--color-black);
        }
    }

    &__cat {
        background: #ffe7c5;
        color: #1a1207;

        &:visited {
            background: #ffe9cb;
            color: #554024;
        }

        &:hover,
        &:visited:hover {
            background: #f9d49f;
        }
    }

    &__sponsorship {
        background: var(--color-sponsorship-light);
        color: var(--color-sponsorship);

        &:visited {
            color: var(--color-sponsorship-dark);
        }

        &:hover,
        &:visited:hover {
            background: var(--color-sponsorship);
            color: var(--color-white);
        }
    }

    @include rtl {
        margin: 0 var(--k-spacing-lg) var(--k-spacing-md);
    }

    @include kiosk {
        gap: rem(8px);
        padding: var(--k-spacing-sm) 0;

        &__booth,
        &__cat,
        &__sponsorship {
            padding: var(--k-bottom-padding-2);
        }
    }
}

.exhibitor-featured {
    display: inline-flex;
    gap: 1px;
    align-items: center;
    padding: rem(4px 8px);
    overflow: hidden;
    min-height: rem(26px);
    margin-left: -1px;
    background: var(--color-featured-badge-bg);
    border-radius: var(--border-radius-full);
    font-size: var(--font-size-md);
    line-height: var(--font-size-md);
    font-weight: var(--font-weight-normal);
    color: var(--color-featured-badge-text);
    letter-spacing: 0.01em;
}

.exhibitor-description {
    position: relative;
    font-size: var(--font-size-lg);

    &::after {
        content: "";
        display: table;
        clear: both;
    }

    &__logo {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        float: right;
        width: rem(90px);
        height: rem(70px);
        margin-inline-start: rem(12px);
        margin-bottom: rem(6px);
        overflow: hidden;
        background: var(--color-white);
        border: 1px solid var(--color-gray-400);
        border-radius: var(--border-radius-sm);

        & > img {
            max-width: 100%;
            max-height: 100%;
        }
        &--left {
            float: left;
            margin-inline-start: 0;
        }
    }

    &__content {
        font-size: var(--font-size-lg);
        line-height: var(--line-height-lg);
        color: var(--color-gray-900);
        text-align: left;
        overflow-wrap: anywhere;
        word-break: break-word;
        white-space: normal;

        > *:first-child {
            margin-top: 0;
            padding-top: 0;
        }

        > *:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        a {
            color: var(--color-primary);

            &:hover {
                color: var(--color-primary-dark);
                text-decoration: underline;
            }
        }

        ol,
        ul {
            display: grid;
            padding-inline-start: rem(20px);
        }
    }

    &.collapsed {
        .exhibitor-description__content {
            display: block;
            height: 6.5em;
            overflow: hidden;
            opacity: 0.8;
            text-overflow: ellipsis;
            cursor: pointer;
            mask-image: linear-gradient(rgb(0 0 0 / 100%) 35%, transparent 90%);

            &:hover {
                opacity: 1;
            }
        }
    }

    @include rtl {
        &__logo {
            margin: 0;
            margin-inline-end: rem(10px);
        }
    }

    @include kiosk {
        margin: var(--k-spacing-md) 0;

        &__logo {
            display: flex;
            align-items: center;
            justify-content: center;
            float: none;
            width: 100%;
            height: var(--k-image-height);
            margin: 0 0 var(--k-spacing-md);
            padding: calc(min(2vh, 12px)) calc(min(4vw, 20px));
        }
    }
}

.exhibitor-video {
    position: relative;
    height: 0;
    padding-bottom: 51.5%;

    & > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

.exhibitor-slider {
    position: relative;
    font-size: var(--font-size-lg);

    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.exhibitor-sep {
    border-top: solid 1px var(--color-gray-300);
}

.exhibitor-edit {
    padding: rem(4px 0 8px);
}

.exhibitor-meta {
    width: 100%;
    margin-top: rem(10px);

    &__item {
        display: flex;
        gap: rem(10px);
        align-items: center;
        padding: rem(6px 0);
    }

    &__icon {
        display: flex;
        align-items: center;
        align-self: flex-start;
        justify-content: center;
        width: rem(30px);
        height: rem(30px);
        background: var(--color-primary-ultra-light);
        border-radius: var(--border-radius-full);

        & > i {
            font-size: var(--icon-size-xs);
            color: var(--color-primary);
        }
    }

    &__content {
        flex: 1;
        overflow: hidden;
        font-size: var(--font-size-md);
        color: var(--color-gray-900);
        text-overflow: ellipsis;
    }

    &__link {
        overflow: hidden;
        color: var(--color-primary);
        text-overflow: ellipsis;

        &:hover {
            color: var(--color-primary-dark);
            text-decoration: underline;
        }
    }

    &__socials {
        display: flex;
        gap: rem(10px);
        justify-content: center;
        padding: rem(12px 0);
    }

    &__social {
        display: none;
        align-items: center;
        justify-content: center;
        width: rem(38px);
        height: rem(38px);
        background: var(--color-white);
        border: 1px solid var(--color-primary);
        border-radius: var(--border-radius-full);
        color: var(--color-primary);

        &[href] {
            display: flex;
        }

        &:hover {
            border-color: var(--color-primary-dark);
            color: var(--color-primary-dark);
        }

        > i {
            font-size: var(--icon-size-md);
        }
    }

    @include kiosk {
        margin-top: rem(30px);

        &__icon {
            width: rem(42px);
            height: rem(42px);
        }
    }
}

.exhibitor-custom-buttons {
    display: flex;
    flex-flow: row wrap;
    gap: rem(14px);
    justify-content: center;
    margin-top: rem(10px);
}

.details-hidden {
    position: relative;
    max-height: 200px;
    overflow: hidden;
    mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
}

.show-details-button {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0.6rem 0 1.2rem;

    & > button {
        display: flex;
        align-items: center;
        height: clamp(40px, 5.4vh, 60px);
        padding: 0 2rem;
        background: var(--color-primary);
        border: 0;
        border-radius: 50px;
        box-shadow: var(--k-box-shadow-2);
        font-size: 1.2rem;
        color: var(--color-white);
        cursor: pointer;
    }
}

.hide-details-button {
    position: sticky;
    bottom: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: rem(30px);
    background: var(--color-gray-400);
    border: 0;
    cursor: pointer;

    & > i {
        color: var(--color-black);
    }
}

.-exhibitor-featured {
    .hide-details-button {
        background: var(--color-primary-dark);

        & > i {
            color: var(--color-white);
        }
    }
}

.overlay-content.-exhibitor-featured {
    background: var(--color-primary-ultra-dark);
    color: var(--color-white);

    .exhibitor__bar,
    .exhibitor-description,
    .exhibitor-description__content {
        color: var(--color-white);
    }

    .exhibitor-meta {
        border-color: rgb(242 244 247 / 30%);

        &__item {
            border-color: rgb(242 244 247 / 30%);
        }

        &__content {
            color: var(--color-white);
        }

        &__link {
            color: var(--color-white);

            &:hover {
                color: var(--color-white);
            }
        }
    }

    .overlay-bar__close {
        & > button {
            background: transparent;
            color: var(--color-gray-200);

            &:hover {
                color: var(--color-white);
            }
        }
    }
}
