.exhibitor-row {
    display: flex;
    align-items: center;
    text-decoration: none !important;
    color: #333 !important;

    &.featured {
        .exhibitor-row__lines {
            font-weight: 700;
        }
    }

    &__lines {
        padding: 0 0.1rem 0 1rem;
        flex-grow: 1;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        >.fa-gem {
            color: #02a8ff;
            font-size: 0.9rem;
        }
    }

    &__booth {
        padding: 0 1rem 0 0;
        min-width: 3.5rem;
        text-align: right;
        font-weight: 700;
        font-size: 0.9rem;
        color: #555;
        overflow-wrap: break-word;
    }

    &__bookmark {
        align-self: stretch;
        padding: 0 0.5rem 0 1rem;
        outline: none;
    }
}