@use "@styles/utils" as *;

.exhibitor-row {
    display: flex;
    align-items: center;
    color: var(--color-black);
    text-align: left;

    &__lines {
        flex-grow: 1;
        overflow: hidden;
        font-size: var(--font-size-xl);
        text-overflow: ellipsis;
        padding-inline: rem(16px) rem(2px);

        & > div {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .icon-diamond {
            font-size: var(--icon-size-sm);
            color: var(--color-primary);
        }
    }

    &__info {
        min-width: rem(64px);
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-bold);
        color: var(--color-gray-800);
        text-align: end;
        overflow-wrap: break-word;
        padding-inline-end: rem(16px);
    }

    &__bookmark {
        align-self: stretch;
        padding-inline: rem(16px) rem(8px);
        outline: none;
    }

    &.featured {
        .exhibitor-row__lines {
            font-weight: var(--font-weight-bold);
        }
    }

    @include kiosk {
        padding: var(--k-items-padding-1);

        &__lines {
            padding-inline-start: 0;
        }

        &__info {
            padding-inline-end: 0;
        }
    }
}

.layout[dir="rtl"] .exhibitor-row {
    text-align: right;
}
