@use "@styles/utils" as *;

.exhibitor-row {
    display: flex;
    align-items: center;
    color: var(--color-black);
    text-align: left;

    &.featured {
        .exhibitor-row__lines {
            font-weight: var(--font-weight-bold);
        }
    }
    &__lines {
        padding-inline-start: rem(16px);
        padding-inline-end: rem(2px);
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: var(--font-size-xl);

        & > div {
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .icon-diamond {
            color: var(--color-primary);
            font-size: var(--icon-size-sm);
        }
    }
    &__info {
        padding-inline-end: rem(16px);
        min-width: rem(64px);
        text-align: end;
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-md);
        color: var(--color-gray-800);
        overflow-wrap: break-word;
    }
    &__bookmark {
        align-self: stretch;
        padding-inline-start: rem(16px);
        padding-inline-end: rem(8px);
        outline: none;
    }

    @include kiosk {
        padding: var(--k-itemsPadding-1);

        &__lines {
            padding-inline-start: 0;
        }
        &__info {
            padding-inline-end: 0;
        }
    }
}

.layout[dir="rtl"] .exhibitor-row {
    text-align: right;
}
