@import "../styles/helpers.scss";

.levels {
    position: absolute;
    z-index: 100;
    overflow: hidden;
    border-radius: var(--border-radius-1);
    opacity: 0;
    box-shadow: var(--shadow-medium);
    transition: 3s opacity ease;

    &.-ready {
        opacity: 1;
    }

    > .item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 40px;
        max-width: 70px;
        height: 38px;
        padding: 0 6px;
        text-align: center;
        background: var(--color-white);
        outline: none;
        border-bottom: 1px solid var(--color-grayLight);
        font-size: var(--heading-size-3);
        font-weight: var(--font-bold);
        color: var(--color-grayDark);
        cursor: pointer;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        &:hover {
            background: var(--color-grayUltraLight);
            color: var(--color-black);
        }
        &.active {
            background: var(--color-primaryLight);
            color: var(--color-primaryDark);

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 2px;
                height: 100%;
                background: var(--color-primary);
            }
            &:hover {
                color: var(--color-primaryDark);
            }
        }

        &.disabled {
            background: var(--color-grayUltraLight);
            color: var(--color-gray);
            cursor: default;
            pointer-events: none;
        }

        @include media-breakpoint-down(sm) {
            max-width: 50px;
            min-width: 34px;
            height: 32px;
            padding: 0 4px;
            font-size: var(--text-size-1);
        }
    }
}

.efp-kiosk {
    .levels {
        top: calc(var(--k-mapControl-size) * 3 + var(--k-mapControls-gap) * 3 + var(--k-app-gap)) !important;
        right: var(--k-app-gap) !important;
        overflow: hidden;
        background: var(--color-white);
        border-radius: var(--k-border-radius-3);
        box-shadow: var(--k-box-shadow-1);

        & > .item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: var(--k-mapControl-size);
            height: calc(var(--k-mapControl-size) - 4px);
            box-shadow: unset;
            border-top: 1px solid var(--color-grayLight);
            font-size: 1.1em;
            font-weight: 500;
            color: var(--k-color-primary);

            &:first-child {
                border-top: 0;
            }

            &.active {
                background: var(--k-color-primaryLight);
                color: var(--k-color-primaryDark);

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 4px;
                    height: 100%;
                    background: var(--k-color-primary);
                }
                &:hover {
                    color: var(--k-color-primaryDark);
                }
            }

            &.disabled {
                opacity: 0.8;
                color: var(--color-gray);
            }
        }
    }
    &.efp-layers-mode {
        .levels {
            top: calc(var(--k-mapControl-size) * 4 + var(--k-mapControls-gap) * 4 + var(--k-app-gap)) !important;
        }
    }
}
