@use "@styles/utils" as *;

.levels {
    position: absolute;
    z-index: 100;
    display: flex;
    flex-flow: column wrap;
    gap: rem(6px);
    opacity: 0;
    transition: 3s opacity ease;
    inset-inline-end: rem(8px);

    &.-ready {
        opacity: 1;
    }
    > .item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: rem(38px);
        max-width: rem(80px);
        height: rem(38px);
        padding: rem(0 6px);
        text-align: center;
        background: var(--color-white);
        outline: none;
        border-radius: var(--border-radius-full);
        font-size: var(--font-size-xxl);
        font-weight: var(--font-weight-bold);
        color: var(--color-gray-700);
        cursor: pointer;
        box-shadow: var(--shadow-md);

        & > span {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        &:hover {
            background: var(--color-gray-200);
            color: var(--color-black);
        }
        &.active {
            background: var(--color-primary-ultra-light);
            border: 1px solid var(--color-primary);
            color: var(--color-primary-dark);

            &:hover {
                color: var(--color-primary-dark);
            }
        }

        &.disabled {
            background: var(--color-gray-200);
            color: var(--color-gray);
            cursor: default;
            pointer-events: none;
        }

        &.full-name {
            max-width: unset;
        }
    }

    @include kiosk {
        top: calc(var(--k-mapControl-size) * 3 + var(--k-mapControls-gap) * 3 + var(--k-app-gap)) !important;
        inset-inline-end: var(--k-app-gap);

        & > .item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: var(--k-mapControl-size);
            height: var(--k-mapControl-size);
            color: var(--color-primary);

            &:hover {
                background: var(--color-primary-ultra-light);
                box-shadow: var(--k-box-shadow-1-active);
            }
            &.active {
                background: var(--color-primary-ultra-light);
                box-shadow: var(--k-box-shadow-1-active);
                color: var(--color-primary-dark);

                &:hover {
                    color: var(--color-primary-dark);
                }
            }
            &.disabled {
                opacity: 0.8;
                color: var(--color-gray);
            }
            &.full-name {
                width: unset;
            }
        }
    }

    &.efp-layers-mode {
        .levels {
            top: calc(var(--k-mapControl-size) * 4 + var(--k-mapControls-gap) * 4 + var(--k-app-gap)) !important;
        }
    }
}
