@import "../styles/helpers.scss";

.levels {
    position: absolute;
    z-index: 100;
    display: flex;
    flex-flow: column wrap;
    gap: 6px;
    opacity: 0;
    transition: 3s opacity ease;
    inset-inline-end: 0.5rem;

    &.-ready {
        opacity: 1;
    }

    > .item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 38px;
        max-width: 80px;
        height: 38px;
        padding: 0 6px;
        text-align: center;
        background: var(--color-white);
        outline: none;
        border-radius: var(--border-radius-full);
        font-size: var(--heading-size-3);
        font-weight: var(--font-bold);
        color: var(--color-grayDark);
        cursor: pointer;
        box-shadow: var(--shadow-medium);

        & > span {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        &:hover {
            background: var(--color-grayUltraLight);
            color: var(--color-black);
        }
        &.active {
            background: var(--color-primaryLight);
            border: 1px solid var(--color-primary);
            color: var(--color-primaryDark);

            &:hover {
                color: var(--color-primaryDark);
            }
        }

        &.disabled {
            background: var(--color-grayUltraLight);
            color: var(--color-gray);
            cursor: default;
            pointer-events: none;
        }

        &.full-name {
            max-width: unset;
        }
    }
}

.efp-kiosk {
    .levels {
        top: calc(var(--k-mapControl-size) * 3 + var(--k-mapControls-gap) * 3 + var(--k-app-gap)) !important;
        inset-inline-end: var(--k-app-gap);

        & > .item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: var(--k-mapControl-size);
            height: var(--k-mapControl-size);
            font-size: 1.1em;
            font-weight: 500;
            color: var(--k-color-primary);

            &.active {
                background: var(--k-color-primaryLight);
                box-shadow: var(--k-box-shadow-1-active);
                color: var(--k-color-primaryDark);

                &:hover {
                    color: var(--k-color-primaryDark);
                }
            }

            &.disabled {
                opacity: 0.8;
                color: var(--color-gray);
            }

            &.full-name {
                width: unset;
            }
        }
    }

    &.efp-layers-mode {
        .levels {
            top: calc(var(--k-mapControl-size) * 4 + var(--k-mapControls-gap) * 4 + var(--k-app-gap)) !important;
        }
    }
}
