.free {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 2rem;
    background: #ab40a0;
    background: linear-gradient(90deg, #e5175c, #5c17e5);
    opacity: 1;
    transition: all 0.5s;

    > section {
        display: flex;
        padding: 0.2rem 0.5rem;
        font-size: 0.8rem;
        user-select: none;
    }

    &__message {
        display: flex;
        align-items: center;
        color: #fff;

        a {
            color: #fff;
            text-decoration: underline;
        }
    }

    &__dismiss {
        display: flex;
        align-items: center;
        margin-inline-start: 0.5rem;
        padding: 0.1rem 0.8rem;
        background: #1378d5;
        border-radius: 2px;
        font-size: 0.8rem;
        font-weight: 500;
        color: #fff !important;
        text-decoration: none !important;

        &:hover {
            background: #69b7ff;
        }

        @media print {
            display: none;
        }
    }

    &.top {
        top: 0;
        bottom: unset;
        width: 100%;
        min-height: 2.5rem;

        > section {
            flex-grow: 1;
        }

        span {
            display: inline-block;
        }

        .free__message {
            flex-grow: 1;
        }
    }

    &.bottom {
        .free__message {
            font-size: 1.5rem;
            font-weight: 300;
            color: rgb(255 255 255 / 90%);
        }

        > section {
            padding: 0.5rem;
        }

        .free__dismiss {
            padding: 0.5rem 1rem;
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    &.hidden {
        transform: translate(0, 100%);
    }

    &.top.hidden {
        transform: translate(0, -100%);
    }
}
