@import "../styles/helpers.scss";

.heatmap-legend {
  width: rem(400px);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  @include media-breakpoint-down(sm) {
    width: rem(220px);
  }

  @include media-breakpoint-down(xs) {
    width: rem(180px);
  }

  &__colors {
    height: 20px;
    margin-bottom: 2px;
  }

  &__values {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(xs) {
      font-size: 0.85em;
    }
  }
}

