@use "@styles/utils" as *;

.layers-loading {
    position: absolute;
    right: 20px;
    bottom: 60px;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: all 0.3s ease;

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
    }

    & > svg {
        width: 60px;
        transform-origin: center;
        animation: rotate 2s linear infinite;

        & > circle {
            fill: none;
            stroke: rgb(65 182 231 / 100%);
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
            stroke-linecap: round;
            stroke-width: 2;
            animation: dash 1.5s ease-in-out infinite;
        }

        @include media-breakpoint-down(sm) {
            width: 40px;
        }
    }

    @include media-breakpoint-down(sm) {
        bottom: 190px;
    }
}

.layout[dir="rtl"] .layers-loading {
    right: unset;
    left: 20px;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}
