@use "@styles/utils" as *;

.list-row {
    min-height: rem(56px);
    border-top: 1px solid var(--color-gray-300);

    @media (hover: hover) {
        &.active {
            background: rgba(0, 0, 0, 0.07);
        }
        &:hover,
        &.active:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
}

.list-virtual > [data-viewport-type="element"] {
    position: relative !important;
}
