@use "@styles/utils" as *;

.list-row {
    min-height: rem(56px);
    padding: rem(6px 0);
    border-top: 1px solid var(--color-gray-300);

    @media (hover: hover) {
        &.active {
            background: rgb(0 0 0 / 7%);
        }

        &:hover,
        &.active:hover {
            background-color: rgb(0 0 0 / 5%);
        }
    }
}

.list-virtual > [data-viewport-type="element"] {
    position: relative !important;
}
