.logo-overlay {
    display: block;
    position: absolute;
    /* bottom: 1rem; */
    /* right: 0.5rem; */
    /* opacity: 0; */
    transition: opacity 0.5s;

    > img {
        display: block;
        width: 100%;
    }

    &.invert{
        filter: invert(1);
    }
}

.qr {
    position: absolute;
    background-color: white;
    padding: 10px;
    box-shadow: var(--k-box-shadow-1);
}

.efp-kiosk {
    .logo-overlay {
        pointer-events: none;
    }
}