@use "@styles/utils" as *;

.logo-overlay {
    position: absolute;
    display: block;
    transition: opacity 0.5s;

    > img {
        display: block;
        width: 100%;
    }

    &.invert {
        filter: invert(1);
    }

    @include kiosk {
        pointer-events: none;
    }
}

.qr {
    position: absolute;
    left: var(--k-app-gap);
    padding: var(--k-spacing-sm);
    background: var(--color-white);
    border-radius: var(--k-border-radius-1);
    box-shadow: var(--k-box-shadow-1);
    text-align: center;

    &--right {
        right: var(--k-app-gap);
        left: unset;
    }

    & > div {
        position: relative;
        top: rem(-3px);
        padding-bottom: rem(6px);
        font-size: var(--font-size-xxl);
        font-weight: var(--font-weight-medium);
    }

    & > svg {
        width: clamp(150px, 10vw, 100px);
        height: clamp(150px, 10vw, 100px);
    }

    @include kiosk {
        & > div {
            font-size: var(--font-size-lg);
        }
    }
}
