.logo-overlay {
    display: block;
    position: fixed;
    /* bottom: 1rem; */
    /* right: 0.5rem; */
    /* opacity: 0; */
    transition: opacity 0.5s;

    > img {
        display: block;
        width: 100%;
    }
}

.qr-logo {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 100px;
    height: 100px;
    padding: 5px;
    background-color: white;
    z-index: 110 !important;
    opacity: 0.8;
}
