@use "@styles/vars";
@use "@styles/utils" as *;

$mapControls: ".map-controls";
$mapFixedControls: ".fixed-controls";
$mapControl: ".map-control";
$layersButton: ".layers-button";
$checkedPanel: ".checked-panel";

#{$mapControls} {
    position: absolute;
    display: grid;
    row-gap: rem(6px);
    width: rem(36px);
    z-index: 101;
    opacity: 0;

    &.-ready {
        opacity: 1;
    }
}
#{$mapFixedControls} {
    position: fixed;
}
#{$mapControl} {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(38px);
    height: rem(38px);
    padding: 0;
    background: var(--color-white);
    border: 0;
    border-radius: var(--border-radius-full);
    box-shadow: var(--shadow-md);
    outline: none;
    cursor: pointer;

    & > i {
        font-size: var(--icon-size-md);
        color: var(--color-gray-800);
    }
    &:hover {
        background: var(--color-gray-200);

        & > i {
            color: var(--color-black);
        }
    }
    &.isActive {
        & > i {
            color: var(--color-primary);
            opacity: 1;
        }
    }
}

#{$checkedPanel} {
    position: absolute;
    left: rem(44px);
    top: 0;
    min-width: rem(150px);
    background: var(--color-white);
    border-radius: var(--border-radius-sm);
    box-shadow: var(--shadow-md);
    backdrop-filter: var(--backdrop-blur-ex);

    ul {
        position: absolute;
        background-color: var(--color-white);
        box-shadow: var(--shadow-md);
    }
    &:before {
        content: "";
        position: absolute;
        top: rem(12px);
        left: -1px;
        transform: translateX(-50%);
        border-right: rem(8px) solid var(--color-white);
        border-bottom: rem(8px) solid transparent;
        border-top: rem(8px) solid transparent;
    }
    &__title {
        display: flex;
        align-items: center;
        padding: rem(8px 16px);
        border-bottom: 1px solid var(--color-gray-400);
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-bold);
        user-select: none;
    }
    & > ul {
        margin: 0;
        padding: rem(6px 0);
        list-style: none;
        border-radius: var(--border-radius-sm);

        & > li {
            input[type="checkbox"] {
                display: none;

                & ~ label {
                    position: relative;
                    display: flex;
                    align-items: center;
                    padding: rem(6px 16px 6px 40px);
                    width: 100%;
                    font-size: var(--font-size-lg);
                    color: var(--color-gray-700);
                    user-select: none;
                    cursor: pointer;

                    &:before {
                        position: absolute;
                        top: rem(9px);
                        left: rem(14px);
                        @include icon();
                        content: vars.$icon-eye-off;
                        font-size: var(--icon-size-ex);
                        color: var(--color-gray-400);
                    }
                    &:hover {
                        background: var(--color-gray-200);
                    }
                }
                &:checked ~ label {
                    color: var(--color-black);

                    &:before {
                        content: vars.$icon-eye;
                        color: var(--color-primary);
                    }
                }
            }
        }
    }
}

#{$layersButton} {
    position: relative;
    display: inline-flex;
}

@include responsive-classes-down-to($mapControls, sm) {
    #{$checkedPanel} {
        left: rem(40px);

        &:before {
            top: rem(8px);
        }
        &__title {
            padding: rem(6px 16px);
        }
    }
}

.efp-kiosk {
    #{$mapControls} {
        position: absolute;
        left: unset !important;
        top: var(--k-app-gap) !important;
        right: var(--k-app-gap) !important;
        overflow: unset;
        width: unset;
        box-shadow: unset;
        row-gap: var(--k-mapControls-gap);
    }
    #{$mapControl} {
        width: var(--k-mapControl-size);
        height: var(--k-mapControl-size);
        border-radius: var(--k-border-radius-2);
        box-shadow: var(--k-box-shadow-1);
        padding: var(--k-mapControl-padding);
        transition: all 0.1s ease;

        & > svg {
            width: 100%;
            height: 100%;
            fill: var(--k-color-primary);
            opacity: 1;
        }
        &:hover {
            background: var(--k-color-primaryLight);
            box-shadow: var(--k-box-shadow-1-active);
        }
    }
}

.efp-kiosk[dir="rtl"] {
    .map-controls {
        right: unset !important;
        left: var(--k-app-gap) !important;
    }
}
