@use "@styles/vars";
@use "@styles/utils" as *;

$map-controls: ".map-controls";
$map-fixed-controls: ".fixed-controls";
$map-control: ".map-control";
$layers-button: ".layers-button";
$checked-panel: ".checked-panel";

#{$map-controls} {
    position: absolute;
    z-index: 101;
    display: grid;
    row-gap: rem(6px);
    width: rem(36px);
    opacity: 0;

    &.-ready {
        opacity: 1;
    }

    @include kiosk {
        position: absolute;
        top: var(--k-app-gap) !important;
        right: var(--k-app-gap) !important;
        left: unset !important;
        row-gap: var(--k-mapcontrols-gap);
        width: unset;
        overflow: unset;
        box-shadow: unset;
    }
}
#{$map-fixed-controls} {
    position: fixed;
}
#{$map-control} {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(38px);
    height: rem(38px);
    padding: 0;
    background: var(--color-white);
    border: 0;
    border-radius: var(--border-radius-full);
    outline: none;
    box-shadow: var(--shadow-md);
    cursor: pointer;

    & > i {
        font-size: var(--icon-size-md);
        color: var(--color-gray-800);
    }

    &:hover {
        background: var(--color-gray-200);

        & > i {
            color: var(--color-black);
        }
    }

    &.isActive {
        & > i {
            opacity: 1;
            color: var(--color-primary);
        }
    }

    @include kiosk {
        width: var(--k-mapcontrol-size);
        height: var(--k-mapcontrol-size);
        padding: 0;
        border-radius: var(--k-border-radius-2);
        box-shadow: var(--k-box-shadow-1);
        transition: all 0.1s ease;

        & > i {
            opacity: 1;
            font-size: var(--icon-size-lg);
            color: var(--color-primary);
        }

        &:hover,
        &.isActive {
            background: var(--color-primary-ultra-light);
            box-shadow: var(--k-box-shadow-1-active);
        }
    }
}

#{$checked-panel} {
    position: absolute;
    top: 0;
    left: rem(44px);
    min-width: rem(150px);
    background: var(--color-white);
    border-radius: var(--border-radius-sm);
    box-shadow: var(--shadow-md);
    backdrop-filter: var(--backdrop-blur-ex);

    ul {
        position: absolute;
        background-color: var(--color-white);
        box-shadow: var(--shadow-md);
    }

    &::before {
        content: "";
        position: absolute;
        top: rem(12px);
        left: -1px;
        z-index: 1;
        border-top: rem(8px) solid transparent;
        border-right: rem(8px) solid var(--color-white);
        border-bottom: rem(8px) solid transparent;
        transform: translateX(-50%);
    }

    &__title {
        display: flex;
        align-items: center;
        padding: rem(8px 16px);
        border-bottom: 1px solid var(--color-gray-400);
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-bold);
        user-select: none;
    }

    & > ul {
        margin: 0;
        padding: rem(6px 0);
        border-radius: var(--border-radius-sm);
        list-style: none;

        & > li {
            input[type="checkbox"] {
                display: none;

                & ~ label {
                    position: relative;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding: rem(6px 16px 6px 40px);
                    font-size: var(--font-size-lg);
                    color: var(--color-gray-700);
                    cursor: pointer;
                    user-select: none;

                    &::before {
                        content: vars.$icon-eye-off;
                        position: absolute;
                        top: rem(9px);
                        left: rem(14px);
                        font-size: var(--icon-size-ex);
                        color: var(--color-gray-400);

                        @include icon;
                    }

                    &:hover {
                        background: var(--color-gray-200);
                    }
                }

                &:checked ~ label {
                    color: var(--color-black);

                    &::before {
                        content: vars.$icon-eye;
                        color: var(--color-primary);
                    }
                }
            }
        }
    }

    @include kiosk {
        right: calc(var(--k-mapcontrol-size) + rem(14px));
        left: unset;

        &::before {
            top: calc(var(--k-mapcontrol-size) / 2 - rem(8px));
            right: rem(-12px);
            left: unset;
            border-top: rem(8px) solid transparent;
            border-right: unset;
            border-bottom: rem(8px) solid transparent;
            border-left: rem(8px) solid var(--color-white);
        }

        & > ul {
            width: 100%;

            & > li {
                input[type="checkbox"] {
                    & ~ label {
                        padding: rem(10px 16px 10px 40px);

                        &::before {
                            top: rem(12px);
                        }
                    }
                }
            }
        }
    }
}

#{$layers-button} {
    position: relative;
    display: inline-flex;
}

@include responsive-classes-down-to($map-controls, sm) {
    #{$checked-panel} {
        left: rem(40px);

        &::before {
            top: rem(8px);
        }

        &__title {
            padding: rem(6px 16px);
        }
    }
}

.efp-kiosk[dir="rtl"] {
    .map-controls {
        right: unset !important;
        left: var(--k-app-gap) !important;
    }
}
