@import "../styles/helpers.scss";

.market-materials {
    $this: &;
    margin: 1rem;
    font-size: var(--text-size-2);

    &__title {
        padding-bottom: rem(12px);
    }
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: rem(8px);
    }
    &__item a {
        cursor: pointer;
        color: var(--color-primary);
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:visited {
            color: var(--color-primary);
        }
        &:hover {
            color: var(--color-primaryDark);

            #{$this}__item-file {
                background-color: var(--color-primaryDark);
            }
            #{$this}__item-download {
                color: var(--color-primaryDark);
            }
        }
    }
    &__item-name {
        display: flex;
        align-items: center;
        gap: rem(8px);

        & > span {
            flex: 1;
        }
    }
    &__item-download-button {
        width: rem(20px);
        height: rem(20px);
    }

    &__item-file {
        background-color: var(--color-primary);
        color: var(--color-white);
        border-radius: 50%;
        width: rem(22px);
        height: rem(22px);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
