@use "@styles/utils" as *;

.market-materials {
    $this: &;

    margin: 1rem;
    font-size: var(--font-size-lg);
    width: calc(100% - 2rem);

    &__title {
        padding-bottom: rem(12px);
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: rem(8px);
    }

    &__item {
        position: relative;
        display: grid;
        grid-gap: rem(8px);
        grid-template-columns: auto 1fr auto;
        align-items: center;
        width: 100%;
        max-width: 100%;
        color: var(--color-primary);
        text-decoration: none;
        cursor: pointer;

        &:visited {
            color: var(--color-primary);
        }

        &:hover {
            color: var(--color-primary-dark);

            #{$this}__item-file {
                background-color: var(--color-primary-dark);
            }
            #{$this}__item-download {
                color: var(--color-primary-dark);
            }
        }
    }

    &__item-name {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__item-download {
        & > i {
            font-size: var(--icon-size-md);
        }
    }

    &__item-file {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(24px);
        height: rem(24px);
        background-color: var(--color-primary);
        border-radius: var(--border-radius-full);
        color: var(--color-white);

        & > i {
            font-size: var(--icon-size-xs);
        }
    }
}
