@use "@styles/utils" as *;

.menu.shown .menu__title > img {
    opacity: 1;
}

/* CUSTOM SHOW RULES */
.expo-jtrade19 .menu__title {
    background: #2b2a29;
}
.expo-awslondon19 .menu__title,
.expo-awsamsterdam19 .menu__title,
.expo-awsstockholm19 .menu__title {
    background: rgb(47, 7, 122);
    background: linear-gradient(207deg, rgba(47, 7, 122, 1) 0%, rgba(175, 60, 119, 1) 47%, rgba(235, 97, 60, 1) 100%);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.expo-atxcws20 .menu__title {
    padding: rem(16px 0);

    > img {
        max-height: rem(150px);
    }
}
.expo-expo .menu__title > img {
    padding-right: 2rem;
}
.expo-vaughanribfest19 .menu__title > img {
    width: auto;
}
.expo-sydneybuildexpo {
    .menu.shown .overlay-bar__close {
        color: #555 !important;
    }
    .menu__title {
        padding-top: 0;
        padding-bottom: 0.5rem;

        > img {
            max-height: 150px;
            width: auto;
        }
    }
}

.expo-sync2020 {
    .menu__title {
        padding-top: 0;
        padding-bottom: 0;

        > img {
            max-height: 150px;
            width: auto;
        }
    }
}
/* END */

.menu {
    background: var(--color-gray-200);
    $p: rem(16px);

    &__bar.-empty {
        background: var(--color-white);
        margin-right: rem(-48px);
        height: rem(56px);
    }
    &__title {
        background: var(--color-white);
        display: block;
        padding: 1.5 * $p $p;
        font-size: var(--font-size-xxxl);
        text-align: center;
        margin-inline-end: rem(-48px);

        img {
            max-height: rem(110px);
            max-width: calc(100% - #{2 * $p});
            opacity: 0;
            transition: opacity 500ms;
        }
    }
    &__item {
        padding: rem(8px 16px);
        min-height: rem(48px);
        font-weight: var(--font-weight-bold);
        display: flex;
        align-items: center;
        color: var(--color-gray-800);
        font-size: var(--font-size-xl);

        &:hover {
            color: var(--color-black);
            text-decoration: none;
        }
        &:visited {
            color: var(--color-gray-800);
        }
        > i {
            color: var(--color-gray-600);
            font-size: var(--icon-size-xxxs);
            min-width: rem(28px);
            text-align: center;
            padding-inline-end: rem(8px);
        }
        &.-bookmarks {
            display: grid;
            grid-auto-flow: column;
            place-content: center space-between;

            button {
                padding: 0 0.4rem 0 0.4rem;
                margin-right: -0.4rem;
                border: none;
                cursor: pointer;
                align-self: stretch;

                &:hover {
                    color: var(--color-black);
                }
            }
        }
        &.-language {
            display: grid;
            grid-auto-flow: column;
            place-content: center space-between;
        }
        .overlay-bottom &.-print {
            display: none;
        }
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(18px);

        & i {
            font-size: var(--icon-size-md);
            color: var(--color-gray-600);
        }
        & > button {
            & > i {
                font-size: var(--icon-size-sm);
            }
            &:hover {
                & > i {
                    color: var(--color-black);
                }
            }
        }
    }
    &__content {
        a:hover {
            background: var(--color-gray-300);
        }
    }
    &__cat {
        padding: rem(8px 16px);
        min-height: rem(40px);
        display: flex;
        justify-content: space-between;
        gap: rem(12px);
        color: var(--color-gray-800);

        &:hover {
            color: var(--color-black);
            text-decoration: none;
        }
        &:visited {
            color: var(--color-gray-800);
        }
    }
    &__cat-bullet {
        width: rem(6px);
        color: var(--color-gray-500);
    }
    &__cat-title {
        flex-grow: 1;
        text-align: left;
    }
    &__cat-count {
        color: var(--color-gray-600);
        font-size: 0.9em;
    }
}
div.menu__item {
    border-top: solid 1px var(--color-gray-400);
    padding-bottom: 0;
}

.layout[dir="rtl"] .menu {
    &__cat-title {
        text-align: right;
    }
}

.efp-kiosk {
    .menu {
        height: calc(100% - (var(--k-app-gap)));

        &__item {
            padding: var(--k-itemsPadding-1);
        }
        &__title {
            background: transparent;
            border-top-left-radius: var(--k-border-radius-1);
            border-top-right-radius: var(--k-border-radius-1);
        }
        &__cat {
            padding: var(--k-itemsPadding-1);
            border-top: solid 1px rgba(0, 0, 0, 0.08);
        }
        &__cat-bullet {
            display: none;
        }
        .overlay-bar {
            position: relative;
            height: var(--k-sidebarMenuTopHeight);
            box-shadow: unset;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &.scrolled {
                box-shadow: var(--k-box-shadow-1);
            }
        }
        .overlay-content__scrollable {
            top: unset;
            max-height: unset;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}
