@use "@styles/utils" as *;

.menu {
    background: var(--color-gray-100);

    $p: rem(16px);

    &__title {
        display: block;
        padding: 1.5 * $p $p;
        background: var(--color-white);
        font-size: var(--font-size-3xl);
        text-align: center;

        & > img {
            max-width: calc(100% - #{2 * $p});
            max-height: rem(110px);
            opacity: 0;
            transition: opacity 500ms;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        min-height: rem(48px);
        padding: rem(8px 16px);
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-bold);
        color: var(--color-gray-900);

        &:hover {
            color: var(--color-black);
            text-decoration: none;
        }

        // &:visited {
        //     color: var(--color-gray-800);
        // }

        > i {
            min-width: rem(28px);
            padding-inline-end: rem(8px);
            font-size: var(--icon-size-xxxs);
            color: var(--color-gray-600);
            text-align: center;
        }

        &.-bookmarks {
            display: grid;
            grid-auto-flow: column;
            place-content: center space-between;

            button {
                align-self: stretch;
                margin-right: -0.4rem;
                padding: 0 0.4rem;
                border: none;
                cursor: pointer;

                &:hover {
                    color: var(--color-black);
                }
            }
        }

        &.-language {
            display: grid;
            grid-auto-flow: column;
            place-content: center space-between;
        }

        &.-categories {
            display: grid;
            grid-auto-flow: column;
            place-content: center space-between;
        }

        .overlay-bottom &.-print {
            display: none;
        }
    }

    &__icons {
        display: flex;
        gap: rem(18px);
        align-items: center;
        justify-content: space-between;

        & i {
            font-size: var(--icon-size-md);
            color: var(--color-gray-600);
        }

        & > button {
            & > i {
                font-size: var(--icon-size-sm);
            }

            &:hover {
                & > i {
                    color: var(--color-black);
                }
            }
        }
    }

    &__content {
        a:hover {
            background: var(--color-gray-200);
        }
    }

    &__cat {
        display: flex;
        gap: rem(12px);
        justify-content: space-between;
        min-height: rem(40px);
        padding: rem(8px 16px);
        color: var(--color-gray-900);

        &:hover {
            color: var(--color-black);
            text-decoration: none;
        }

        &:visited {
            color: var(--color-gray-800);
        }
    }

    &__cat-bullet {
        width: rem(6px);
        color: var(--color-gray-500);
    }

    &__cat-title {
        flex-grow: 1;
        font-size: var(--font-size-xl);
        text-align: left;
    }

    &__cat-count {
        font-size: var(--font-size-md);
        color: var(--color-gray-700);
    }

    &__bar.-empty {
        height: rem(56px);
        margin-right: rem(-48px);
        background: var(--color-white);
    }

    &.shown {
        .menu__title {
            & > img {
                opacity: 1;
            }
        }
    }

    @include kiosk {
        height: calc(100% - (var(--k-app-gap)));
        background: transparent;

        &__item {
            padding: var(--k-items-padding-1);
        }

        &__title {
            border-top-left-radius: var(--k-border-radius-1);
            border-top-right-radius: var(--k-border-radius-1);
        }

        &__cat {
            padding: var(--k-items-padding-1);
            border-top: solid 1px rgb(0 0 0 / 8%);
        }

        &__cat-bullet {
            display: none;
        }

        .overlay-bar {
            position: relative;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            box-shadow: unset;

            &.scrolled {
                box-shadow: var(--k-box-shadow-1);
            }
        }

        .overlay-content__scrollable {
            top: unset;
            max-height: unset;
            background: var(--color-gray-200);
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}

div.menu__item {
    padding-bottom: 0;
    border-top: solid 1px var(--color-gray-400);
}

.layout[dir="rtl"] .menu {
    &__cat-title {
        text-align: right;
    }
}
