@use "@styles/utils" as *;

$modal: ".modal";

#{$modal} {
    position: absolute;
    inset: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: rem(20px);
    background: rgb(22 22 22 / 38%);

    &--default {
        #{$modal}__content {
            max-width: 600px;
        }
    }

    &--share {
        #{$modal}__content {
            max-width: 420px;
        }
    }

    &.isOpen {
        #{$modal}__content {
            animation: 0.3s ease forwards transform-modal, 0.2s ease forwards opacity-modal;
        }
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(40px);
        height: rem(40px);
        opacity: 0.6;
        color: var(--color-gray-700);
        cursor: pointer;
        transition: opacity 0.1s ease;

        &:hover {
            opacity: 1;
            color: var(--color-black);
        }
    }

    &__content {
        position: relative;
        width: 100%;
        padding: rem(30px 40px);
        background: var(--color-white);
        border-radius: var(--border-radius-lg);
        box-shadow: var(--shadow-md);
    }
}

@include responsive-classes-down-to($modal, sm) {
    padding: rem(10px);
}

.layout[dir="rtl"] #{$modal} {
    &__close {
        right: unset;
        left: 0;
    }
}

@keyframes opacity-modal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes transform-modal {
    from {
        top: -40px;
    }

    to {
        top: 0;
    }
}
