@use "@styles/utils" as *;

.overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 103;
    height: calc(100vh - 20px);
    background: var(--color-white);
    border-radius: var(--border-radius-xl);
    transition: background-color 0.5s;
    box-shadow: var(--shadow-md);
    overflow: hidden;

    &.collapsed {
        bottom: unset;
    }
    &.medium.bottom,
    &.small.bottom {
        border-radius: 0.5rem 0.5rem 0 0;
    }
    &.-backdrop {
        background-color: rgba(255, 255, 255, 0.6);
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
    }
    &.-no-transition {
        transition: none;
    }
    @media print {
        display: none;
    }

    @include kiosk {
        top: var(--k-app-gap) !important;
        left: var(--k-app-gap) !important;
        width: var(--k-searchBox-width) !important;
        background: transparent;
        box-shadow: unset;
        pointer-events: none;
        overflow: unset;

        &.-backdrop {
            background: transparent;
            backdrop-filter: unset;
        }
    }
}

.layout[dir="rtl"] {
    .overlay.start {
        left: unset;
        right: 10px;
    }
    &.efp-kiosk {
        .overlay {
            right: var(--k-app-gap) !important;
        }
    }
}
