@use "@styles/utils" as *;

.overlay-bar-back {
    min-width: rem(48px);
    height: rem(56px);
    align-self: flex-start;
    position: relative;
    display: flex;

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        border: 0;
        outline: none;
        cursor: pointer;
        color: var(--color-gray-600);

        & > i {
            font-size: var(--icon-size-xl);
        }
        &:hover {
            color: var(--color-black);
        }
    }

    @include kiosk {
        width: rem(70px);
        height: calc(var(--k-searchBox-height) - 10px);
        padding-inline-start: 10px;
        justify-content: center;
        align-items: center;
        align-self: center;

        &__button {
            color: var(--color-primary) !important;

            &:hover {
                color: var(--color-black) !important;
            }
        }
    }
}

.layout[dir="rtl"] .overlay-bar-back {
    .icon-chevron-left {
        transform: rotateY(180deg);
    }
}
