@use "@styles/utils" as *;

.overlay-bar {
    display: flex;
    align-items: center;
    z-index: 1;
    transition: box-shadow 300ms;

    &__slot {
        flex-grow: 1;
        max-width: calc(100% - 3rem);
    }

    &__close {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-start;
        width: rem(40px);
        height: rem(60px);
        padding: 0;
        border: 0;
        color: var(--color-gray-600);
        cursor: pointer;

        &:hover {
            color: var(--color-black);
        }
    }
    &__search-icon {
        display: none;

        & > i {
            color: var(--color-gray);
        }
    }
}
.overlay-bar.scrolled {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.efp-kiosk {
    .overlay-bar {
        position: absolute;
        width: var(--k-searchBox-width);
        background: var(--color-white);
        border-radius: var(--k-border-radius-3);
        box-shadow: var(--k-box-shadow-1);

        &__close {
            width: rem(80px);
            height: calc(var(--k-searchBox-height));
            color: var(--k-color-primary) !important;

            &:hover {
                color: var(--color-black) !important;
            }
            & > i {
                color: var(--k-color-primary);
                font-size: rem(30px);
            }
        }
        &__search-icon {
            position: absolute;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: rem(60px);
            height: calc(var(--k-searchBox-height) - 10px);
            padding-inline-end: 14px;
            pointer-events: none;

            & > i {
                color: var(--k-color-primary);
                font-size: rem(30px);
            }
        }
    }
}

.efp-kiosk[dir="rtl"] .overlay-bar {
    &__search-icon {
        right: unset;
        left: 0;
    }
}
