.overlay-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .overlay.bottom {
        border-radius: 0.5rem 0.5rem 0 0;
    }
    &__scrollable {
        flex-grow: 1;
        height: 1px;
        overflow-y: hidden;
        position: relative;

        .overlay.full & {
            overflow-y: scroll;
            //-webkit-overflow-scrolling: touch;
        }
    }
}

.overlay.-gallery-active {
    top: 0 !important;
    .overlay-content, .overlay-content__scrollable, .exhibitor__slider {
        position: static;
    }
    .overlay-content__scrollable {
        overflow: hidden;
    }
    .overlay-bar, .overlay-grip {
        display: none;
    }
}

.layout[dir="rtl"] {
    .ps__thumb-y {
        right: unset;
        left: 2px;
    }
}

.efp-kiosk {
    .overlay-content {
        //height: auto;
        pointer-events: auto;

        &__scrollable {
            top: var(--k-sidebarPositionTop);
            max-height: var(--k-sidebarMaxHeight);
            background: var(--color-white);
            border-radius: var(--k-border-radius-1);
            box-shadow: var(--k-box-shadow-1);
        }
        &.menu {
            background: transparent;
        }
        &.menu,
        &.exhibitor,
        &.main-wayfinding {
            .overlay-bar {
                border-top-left-radius: var(--k-border-radius-1);
                border-top-right-radius: var(--k-border-radius-1);
            }
            &.hidden {
                .overlay-bar,
                .overlay-content__scrollable {
                    background: rgba(255, 255, 255, 0.8);
                    backdrop-filter: blur(5px);
                }
                .efp-wayInformation {
                    border-color: var(--color-white);
                }
                .efp-wayInformation__item span {
                    color: var(--color-grayDark);
                }
            }
        }
        &.-exhibitor-featured {
            border-radius: var(--k-border-radius-1);
            .overlay-bar {
                background: transparent;
            }
            .overlay-content__scrollable {
                background: transparent;
            }
            .overlay-bar__close {
                &:hover {
                    color: var(--color-white) !important;
                }
            }
        }
    }
}
