@use "@styles/utils" as *;

.overlay-bar {
    z-index: 1;
    display: flex;
    align-items: center;
    transition: box-shadow 300ms;

    &__slot {
        flex: 1;
        max-width: 100%;
        height: 100%;
    }

    &__search-icon {
        display: none;

        & > i {
            color: var(--color-gray);
        }
    }

    &__close {
        align-self: flex-start;
        padding: rem(12px);

        & > button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(32px);
            height: rem(32px);
            padding: 0;
            background: var(--color-gray-200);
            border: 0;
            border-radius: var(--border-radius-full);
            color: var(--color-gray-800);
            cursor: pointer;

            &:hover {
                background: var(--color-gray-300);
                color: var(--color-black);
            }

            & > i {
                font-size: var(--icon-size-md);
            }
        }
    }

    &.scrolled {
        box-shadow: 0 0 20px rgb(0 0 0 / 20%);

        @include kiosk {
            box-shadow: 0 0 20px rgb(0 0 0 / 20%);
        }
    }

    @include kiosk {
        width: var(--k-searchbox-width);
        background: var(--color-white);

        &__search-icon {
            position: absolute;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(60px);
            height: calc(var(--k-searchbox-height) - 10px);
            padding-inline-end: rem(16px);
            pointer-events: none;

            & > i {
                font-size: var(--icon-size-xl);
                color: var(--color-primary);
            }
        }

        &__close {
            display: flex;
            align-items: center;
            height: calc(var(--k-searchbox-height));
            color: var(--color-primary) !important;

            &:hover {
                color: var(--color-black) !important;
            }

            & > button {
                width: rem(54px);
                height: rem(54px);

                & > i {
                    font-size: var(--icon-size-lg);
                    color: var(--color-primary);
                }
            }
        }
    }
}

.layout[dir="rtl"] .overlay-content.menu .overlay-bar__close {
    right: unset;
    left: 0;
}

.efp-kiosk[dir="rtl"] .overlay-bar {
    &__search-icon {
        right: unset;
        left: 0;
    }
}
