.overlay-grip {
    $h: 1rem;
    $w: 3rem;
    $s: 0.2rem;

    position: absolute;
    right: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: $w;
    height: $h;
    margin: 0 auto;

    > svg {
        display: block;
        width: $w;
        height: $h;

        > path {
            fill: none;
            stroke: var(--color-gray-500);
            stroke-linecap: round;
            stroke-width: 70;

            &:first-child {
                display: none;
            }
        }
    }

    &.arr > svg > path {
        &:first-child {
            display: inherit;
        }

        &:last-child {
            display: none;
        }
    }
}
