@import "../styles/helpers.scss";

.overlay-bar {
    display: flex;
    align-items: center;
    /* background-color: #fff; */
    z-index: 1;
    transition: box-shadow 300ms;

    &__slot {
        flex-grow: 1;
        max-width: calc(100% - 3rem);
    }

    &__close {
        @include like-anchor;
        @include overlay-bar-icon;
        align-self: flex-start;
    }
    &__search-icon {
        display: none;
    }
}
.overlay-bar.scrolled {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.efp-kiosk {
    .overlay-bar {
        position: absolute;
        width: var(--k-searchBox-width);
        background: var(--color-white);
        border-radius: var(--k-border-radius-3);
        box-shadow: var(--k-box-shadow-1);

        &__close {
            width: 80px;
            height: calc(var(--k-searchBox-height));
            font-size: 1.4em;
            color: var(--k-color-primary) !important;

            &:hover {
                color: var(--color-black) !important;
            }
        }
        &__search-icon {
            position: absolute;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: calc(var(--k-searchBox-height) - 10px);
            padding-inline-end: 14px;
            pointer-events: none;
        }
    }
}

.efp-kiosk[dir="rtl"] .overlay-bar {
    &__search-icon {
        right: unset;
        left: 0;
    }
}
