.overlay-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .overlay.bottom {
        border-radius: 0.5rem 0.5rem 0 0;
    }
    &__scrollable {
        flex-grow: 1;
        height: 1px;
        overflow-y: hidden;
        position: relative;

        &.kioskoverlay {
            height: auto;
            max-height: calc(100vh - 80px);
        }

        .overlay.full & {
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
        }
    }
}
