@import "../styles/helpers.scss";

.overlay {
    position: absolute;
    bottom: 0;
    z-index: 103;

    &.collapsed {
        bottom: unset;
    }

    // -webkit-backdrop-filter: saturate(180%) blur(20px);
    background-color: #fff;
    transition: background-color 0.5s;
    // backdrop-filter: saturate(180%) blur(20px);

    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    &.medium.bottom,
    &.small.bottom {
        border-radius: 0.5rem 0.5rem 0 0;
    }
    &.-backdrop {
        background-color: rgba(255, 255, 255, 0.6);
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
    }
    &.-no-transition {
        transition: none;
    }

    @media print {
        display: none;
    }
}

.layout[dir="rtl"] {
    .overlay.start {
        left: unset;
        right: 0;
    }

    &.efp-kiosk {
        .overlay {
            right: var(--k-app-gap) !important;
        }
    }
}

.efp-kiosk {
    .overlay {
        top: var(--k-app-gap) !important;
        left: var(--k-app-gap) !important;
        width: var(--k-searchBox-width) !important;
        background: transparent;
        box-shadow: unset;
        pointer-events: none;

        &.-backdrop {
            background: transparent;
            backdrop-filter: unset;
        }
    }
}
