.pdf {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
    opacity: 0;
    transition: opacity 300ms;

    &__text {
        text-align: center;
        color: #eee;
        margin-top: 45vh;
        font-size: 2rem;
        font-weight: 400;
    }

    &.-visible {
        opacity: 1;
    }
}
