@use "@styles/utils" as *;

.rebooking-notes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: rem(0 16px);

    &__edit {
        display: flex;
        flex-flow: row wrap;
        justify-content: right;
        width: 100%;
    }

    &__val {
        width: 100%;
        padding: rem(0 0 14px);

        & > textarea {
            width: 100%;
            max-width: 100%;
            min-height: 140px;
            padding: rem(10px);
            overflow: auto;
            border: none;
            border: 1px solid var(--color-gray-400);
            border-radius: var(--border-radius-md);
            outline: none;
            box-shadow: none;
            font-family: var(--app-font-family);
            font-size: var(--font-size-xl);

            &:focus {
                border-color: var(--color-gray);
            }
        }
    }

    &__view {
        display: flex;
        flex-flow: row wrap;
        gap: rem(14px);
        justify-content: center;
        width: 100%;
    }

    &__view-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-bottom: rem(14px);

        & > span {
            font-size: var(--font-size-md);
            color: var(--color-gray-700);
        }
    }

    &__view-text {
        width: 100%;
    }

    &__buttons {
        display: flex;
        gap: rem(10px);
    }
}
