@use "@styles/utils" as *;

.rebooking-radio-group {
    padding: rem(16px);

    &__title {
        padding-bottom: rem(10px);
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-medium);
    }

    &__options {
        display: flex;
        flex-flow: column wrap;
        gap: rem(10px);
    }
}

.rebooking-radio {
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(24px);
        height: rem(24px);
        background: var(--rebooking-color-primary);
        border-radius: var(--border-radius-full);
        color: var(--color-white);

        & > i {
            font-size: 18px;
            line-height: 0;
        }
    }

    &__label {
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-medium);
    }

    & > input {
        display: none;

        & ~ label {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: rem(12px 14px 12px 48px);
            background: var(--color-gray-200);
            border-radius: var(--border-radius-md);
            line-height: 1;
            color: var(--color-black);
            cursor: pointer;
            user-select: none;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: rem(14px);
                width: rem(20px);
                height: rem(20px);
                margin-top: rem(-10px);
                border: 2px solid #98a2b3;
                border-radius: 50%;
            }

            &:hover {
                background: #eaecf0;
            }
        }

        &:checked ~ label {
            background: var(--rebooking-color-primary);
            color: var(--color-white);

            &::before {
                border: 5px solid var(--color-white);
            }

            & > .rebooking-radio__icon {
                background: var(--color-white);
                color: var(--rebooking-color-primary);
            }
        }

        &:disabled {
            & ~ label {
                background: var(--color-gray-200);
                color: var(--color-gray);
                cursor: default;

                &::before {
                    border-color: var(--color-gray-400);
                }

                & > .rebooking-radio__icon {
                    color: var(--color-gray);
                }
            }
        }
    }
}
