@import "../styles/helpers.scss";

.rebooking-radio-group {
    padding: 1rem;

    &__title {
        padding-bottom: 10px;
        font-size: var(--text-size-2);
        font-weight: var(--font-medium);
    }
    &__options {
        display: flex;
        flex-flow: column wrap;
        gap: 10px;
    }
}
.rebooking-radio {
    & > input {
        display: none;

        & ~ label {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 14px 12px 48px;
            border: 1px solid #eaecf0;
            border-radius: var(--border-radius-1);
            cursor: pointer;
            user-select: none;

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 14px;
                width: 20px;
                height: 20px;
                margin-top: -10px;
                border: 2px solid #d0d5dd;
                border-radius: 50%;
            }
            &:hover {
                border-color: #d4d6db;
            }
        }
        &:checked ~ label {
            background: var(--rebooking-color-secondary);
            border-color: var(--rebooking-color-primary);

            &:before {
                border: 5px solid var(--rebooking-color-primary);
            }
        }
        &:disabled {
            & ~ label {
                background: var(--color-grayUltraLight);
                color: var(--color-gray);
                cursor: default;

                & > .rebooking-radio__icon {
                    background: var(--color-gray);
                }
            }
        }
    }
    &__label {
        font-size: var(--text-size-1);
        font-weight: var(--font-medium);
    }
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        background: var(--rebooking-color-primary);
        border-radius: 50%;
        color: var(--color-white);

        & > i {
            font-size: 18px;
            line-height: 0;
        }
    }
}
