@use "@styles/utils" as *;

.schedule {
    padding: rem(16px);
    font-size: var(--font-size-xl);

    &__item {
        position: relative;
        display: flex;
        border-top: 1px solid var(--color-gray-300);

        &::before {
            content: "";
            position: absolute;
            top: rem(-1px);
            left: 0;
            width: rem(44px);
            height: rem(1px);
            background: var(--color-gray-600);
        }
    }

    &__date {
        display: flex;
        flex-flow: column wrap;
        gap: rem(1px);
        align-items: center;
        width: rem(44px);
        padding: rem(14px 0 18px);

        & > div {
            &:nth-child(1) {
                font-size: var(--font-size-xxl);
                font-weight: var(--font-weight-medium);
            }

            &:nth-child(2) {
                font-size: var(--font-size-lg);
                font-weight: var(--font-weight-medium);
                color: var(--color-gray-600);
            }

            &:nth-child(3) {
                font-size: var(--font-size-lg);
                color: var(--color-gray-600);
            }
        }
    }

    &__events {
        flex: 1;
        padding: rem(10px 0 10px 18px);
    }

    &__event {
        display: block;
        padding: rem(8px 12px);
        border-radius: var(--border-radius-sm);
        text-decoration: none;
        transition: background var(--transition-duration) ease;
        cursor: pointer;

        &.ended {
            opacity: 0.6;
            color: var(--color-gray-900);
        }

        &.current {
            background: var(--color-gray-300);
        }

        &:hover {
            background: var(--color-gray-200);
        }

        & > span {
            display: block;
            font-size: var(--font-size-md);
            color: var(--color-gray-700);
        }

        & > strong {
            display: block;
            padding-top: rem(2px);
            font-size: var(--font-size-xxl);
            font-weight: var(--font-weight-bold);
        }

        &-booth {
            display: inline-flex;
            min-width: 0;
            max-width: 100%;
            padding: rem(2px 7px);
            margin: rem(4px 0);
            gap: rem(7px);
            align-items: center;
            overflow: hidden;
            background: var(--color-primary-ultra-light);
            border-radius: var(--border-radius-full);
            font-size: var(--font-size-sm);
            line-height: var(--font-size-md);
            color: var(--color-primary-ultra-dark);
            letter-spacing: 0.01em;

            & > div {
                position: relative;
                display: block;
                align-items: center;
                min-height: 100%;
                padding: rem(2px 0);

                &:first-child {
                    flex: 1;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }
    }

    &__event[href] {
        & > strong {
            color: var(--color-primary);
        }

        &:hover {
            & > strong {
                color: var(--color-primary-dark);
            }
        }
    }

    &__event-desc {
        margin: rem(6px 0);
        font-size: var(--font-size-lg);
        color: var(--color-gray-900);

        & > p {
            margin: rem(6px 0);
        }
    }
}

.-exhibitor-featured {
    .schedule__event > span,
    .schedule__event-desc,
    .schedule__date > div {
        color: rgb(255 255 255 / 70%);
    }

    .schedule__event:hover {
        background: rgb(255 255 255 / 10%);
    }
}
