@import "../styles/helpers.scss";

.schedule {
    padding: 1rem;
    font-size: var(--text-size-1);

    &__item {
        position: relative;
        display: flex;
        border-top: 1px solid #d7d9dc;

        &:before {
            content: "";
            position: absolute;
            top: -1px;
            left: 0;
            width: 44px;
            height: 1px;
            background: #7f828a;
        }
    }
    &__date {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        gap: 1px;
        width: 44px;
        padding: 14px 0 18px;

        & > div {
            &:nth-child(1) {
                font-size: var(--heading-size-2);
                font-weight: var(--font-medium);
            }
            &:nth-child(2) {
                font-size: var(--text-size-2);
                font-weight: var(--font-medium);
                color: #54585f;
            }
            &:nth-child(3) {
                font-size: var(--text-size-2);
                color: #54585f;
            }
        }
    }
    &__events {
        flex: 1;
        padding: 10px 0 10px 18px;
    }
    &__event {
        display: block;
        padding: 8px 12px;
        border-radius: var(--border-radius-2);
        transition: background var(--transition-duration) ease;
        text-decoration: none;

        &.current {
            background: #e1e1e1;
        }

        &:hover {
            background: #f2f4f7;
        }
        & > span {
            display: block;
            font-size: var(--text-size-2);
            color: #54585f;
        }
        & > strong {
            display: block;
            padding-top: 2px;
            font-weight: var(--font-bold);
        }
    }
    &__event[href] {
        &:hover {
            & > strong {
                color: var(--color-primaryDark);
            }
        }
        & > strong {
            color: var(--color-primary);
        }
    }
    &__event-desc {
        margin: 6px 0;
        font-size: var(--text-size-2);
        color: var(--color-grayDark);

        & > p {
            margin: 6px 0;
        }
    }
}
