@use "@styles/utils" as *;

.efp-search-bar {
    & > input {
        width: 100%;
        height: rem(56px);
        border: none;
        outline: none;
        font-size: var(--font-size-xl);
        -webkit-appearance: none;
        -webkit-tap-highlight-color: transparent;

        &::placeholder {
            color: var(--color-gray-600);
        }
        &.fixed {
            opacity: 0;
            pointer-events: none;
            position: fixed;
            top: -100px;
        }

        @include kiosk {
            height: var(--k-searchBox-height);
            padding-inline-end: rem(60px);
        }
    }
}
