@use "@styles/utils" as *;

.search {
    &__bar {
        input {
            border: none;
            border-radius: 0.5rem;
            outline: none;
            height: var(56px);
            -webkit-appearance: none;
            -webkit-tap-highlight-color: transparent;
            width: 100%;
        }
        input::placeholder {
            color: rgba(0, 0, 0, 0.3); //#bbb;
        }

        input.fixed {
            opacity: 0;
            pointer-events: none;
            position: fixed;
            top: -100px;
        }
    }
}

.efp-kiosk {
    .search__bar {
        & > input {
            height: var(--k-searchBox-height);
            padding-inline-end: 60px;
            font-size: var(--k-inputFontSize);

            &::placeholder {
                color: var(--k-color-darkGray);
            }
        }
    }
}
