@use "@styles/utils" as *;

$share: ".share";
$share-social: ".share-social";

#{$share} {
    & > h3 {
        margin: 0;
        font-size: var(--font-size-xxxl);
        font-weight: var(--font-weight-bold);
        color: var(--color-black);
        text-align: center;
    }

    &__socials {
        display: flex;
        justify-content: center;
        margin: rem(30px 0 28px);
    }

    &__copy {
        & > span {
            display: block;
            margin-bottom: rem(6px);
            font-size: var(--font-size-md);
            color: var(--color-gray-600);
        }
    }

    &__copy-input {
        display: flex;
        align-items: center;
        height: rem(40px);
        border: 1px solid var(--color-gray-400);
        border-radius: var(--border-radius-sm);
        overflow: hidden;

        & > input {
            flex: 1;
            height: rem(38px);
            padding-inline-start: rem(14px);
            border: 0;
            outline: none;
            font-size: var(--font-size-lg);
            color: var(--color-gray-600);
        }

        & > button {
            min-width: rem(68px);
            height: rem(38px);
            padding: rem(0 8px);
            background: transparent;
            border: 0;
            font-size: var(--font-size-lg);
            font-weight: var(--font-weight-medium);
            color: var(--color-primary);
            text-align: center;
            cursor: pointer;

            &.isCopied {
                color: var(--color-gray-500);

                &:hover {
                    color: var(--color-gray-500);
                }
            }

            &:hover {
                color: var(--color-primary);
            }
        }
    }
}

#{$share-social} {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: rem(0 15px);
    text-decoration: none;

    &__icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(46px);
        height: rem(46px);
        color: var(--color-black);

        &::before {
            content: "";
            position: absolute;
            width: inherit;
            height: inherit;
            border-radius: 50%;
            transition: all 0.2s ease-in-out;
            transform: scale(1);
        }
        & > i {
            position: relative;
            z-index: 1;
        }
    }

    &__title {
        margin-top: rem(4px);
        font-size: var(--font-size-lg);
        color: var(--color-black);
        transition: color 0.1s ease-in-out;
    }

    &.facebook {
        #{$share-social}__icon {
            color: #1877f2;
            &::before {
                background: #d9eaff;
            }
        }
    }

    &.xcom {
        #{$share-social}__icon {
            color: #000000;
            &::before {
                background: #e2e2e2;
            }
        }
    }

    &.linkedin {
        #{$share-social}__icon {
            color: #0a66c2;

            &::before {
                background: #e4edff;
            }
        }
    }

    &:hover {
        #{$share-social}__icon {
            &::before {
                transform: scale(0.9);
            }
        }
        #{$share-social}__title {
            color: var(--color-primary);
        }
    }
}
