@import "../styles/helpers.scss";

$sidebarActions: ".efp-sidebarActions";
$actionButton: ".efp-actionButton";

#{$sidebarActions} {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: rem(20px);
}

#{$actionButton} {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: rem(36px);
    padding: rem(0 14px 0 10px);
    background: $color-white;
    border: 1px solid $color-primary;
    border-radius: 30px;
    font-size: rem(14px);
    color: $color-primary;
    cursor: pointer;
    box-shadow: 0px 0px 0 rgba(61, 145, 247, 0);
    transition: background 0.1s ease, color 0.1s ease, box-shadow 0.1s ease;

    .icon {
        width: 22px;
        height: 22px;
        fill: $color-primary;
        transition: fill 0.1s ease;

        & + .text {
            margin-left: 4px;
        }
    }
    &:hover {
        background: #edfaff;
    }
    &:active {
        background: #edfaff;
        box-shadow: 0px 0px 8px rgba(61, 145, 247, 0.3);
    }
    &--bookmark {
        flex-grow: 1;
        flex-shrink: 0;

        &.isActive {
            .icon {
                fill: #e54839;
            }
        }
    }
    &--directions {
        flex-grow: 1;
        flex-shrink: 0.5;
    }
    &--share {
        flex-shrink: 0.2;
    }
    &--directions ~ &--share {
        flex-grow: 1;
    }
}
