@use "@styles/utils" as *;

$sidebar-actions: ".efp-sidebarActions";
$action-button: ".efp-actionButton";

#{$sidebar-actions} {
    display: flex;
    flex-flow: row wrap;
    gap: rem(8px);
    align-items: center;
    width: 100%;
    margin-bottom: rem(18px);

    @include kiosk {
        margin-bottom: var(--k-spacing-md);
    }
}

#{$action-button} {
    display: flex;
    gap: rem(6px);
    align-items: center;
    justify-content: center;
    height: rem(40px);
    padding: rem(0 12px 0 8px);
    overflow: hidden;
    background: var(--color-white);
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius-full);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
    color: var(--color-primary);
    cursor: pointer;
    transition: background 0.1s ease, color 0.1s ease, box-shadow 0.1s ease;

    &:hover {
        background: var(--color-primary-ultra-light);
    }

    &:active {
        background: var(--color-primary-ultra-light);
        box-shadow: 0 0 8px rgb(61 145 247 / 30%);
    }

    [class^="icon-"] {
        font-size: var(--icon-size-sm);
    }

    &--directions {
        flex-grow: 4;
        flex-shrink: 0.5;
        background: var(--color-primary);
        color: var(--color-white);

        &:hover {
            background: var(--color-primary-dark);
        }

        & > .icon {
            fill: var(--color-white);
        }
    }

    &--bookmark {
        width: rem(40px);
        padding: 0;
        background: var(--color-gray-200);
        border-color: var(--color-gray-400);
        color: var(--color-gray-600);

        &:hover {
            background: var(--color-gray-300);
        }

        &.isActive {
            border-color: var(--color-bookmarked);
            background: var(--color-bookmarked);

            [class^="icon-"] {
                color: var(--color-white);
            }
        }

        &:not(&.isActive) {
            [class^="icon-"] {
                animation: unset !important;
            }
        }

        &.animate {
            [class^="icon-"] {
                animation: scale-bookmark-icon 0.3s ease-in-out;
            }
        }
    }

    &--share {
        width: rem(40px);
        padding: 0;
    }

    @include kiosk {
        height: clamp(52px, 6.2vh, 74px);
        background: var(--color-primary-dark);
        border: 0;
        border-radius: var(--border-radius-full);
        box-shadow: var(--k-box-shadow-1);
        color: var(--color-white);
    }
}

.efp-visited-btn {
    flex-grow: 1;
    flex-shrink: 0;
}

.layout[dir="rtl"] #{$action-button} {
    &--directions .icon {
        transform: scaleX(-1);
    }
}

@keyframes scale-bookmark-icon {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.4);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}
