@use "@styles/utils" as *;

.efp-simple-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-xl);
    color: var(--color-black);

    &__col {
        padding: rem(0 16px 0);
    }
    &__main {
        height: rem(20px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: var(--font-weight-medium);
        text-align: left;
    }
    &__sub {
        font-size: var(--font-size-sm);
        color: var(--color-gray-600);
        height: rem(12px);
        margin: rem(-2px 0);
        text-align: left;
    }
    &__end {
        padding-inline-end: rem(16px);
        min-width: rem(64px);
        text-align: end;
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-lg);
        color: var(--color-gray-600);
        overflow-wrap: break-word;
    }

    @include kiosk {
        padding: var(--k-itemsPadding-1);

        &__main {
            height: unset;
            padding: 0;
        }
        &__sub {
            height: unset;
            margin: 0;
            padding: 0;
        }
        &__col {
            padding: 0;
        }
    }
}

.layout[dir="rtl"] .efp-simple-row {
    &__main,
    &__sub {
        text-align: right;
    }
}
