@use "@styles/utils" as *;

.efp-toggle-switch {
    position: relative;
    width: rem(26px);
    height: rem(16px);
    background: var(--color-gray-500);
    border-radius: var(--border-radius-full);
    transition: background-color 0.2s;

    &__slider {
        position: absolute;
        top: rem(2px);
        left: rem(2px);
        width: rem(12px);
        height: rem(12px);
        background: var(--color-white);
        border-radius: var(--border-radius-full);
        transition: transform 0.2s;
    }
}

.efp-toggle-button {
    display: flex;
    gap: rem(6px);
    align-items: center;
    justify-content: center;
    max-width: rem(400px);
    min-height: rem(42px);
    padding: rem(0 14px);
    background: var(--color-white);
    border: 1px solid var(--color-gray-500);
    border-radius: var(--border-radius-full);
    outline: none;
    font-family: var(--app-font-family);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
    color: var(--color-gray-600);
    text-decoration: none;
    cursor: pointer;
    transition: background 0.1s ease-in-out;

    &:hover {
        background: var(--color-gray-100);
        border-color: var(--color-gray-500);
    }

    &.toggled {
        border-color: var(--color-primary);
        color: var(--color-primary);

        &:hover {
            border-color: var(--color-primary-dark);
        }

        .efp-toggle-switch {
            background: var(--color-primary);
        }

        .efp-toggle-switch__slider {
            transform: translateX(rem(10px));
        }
    }
}
