@use "@styles/utils" as *;

$switch-width: 36px;
$switch-height: 20px;

.toggleSwitch {
    $this: &;
    min-height: $switch-height;

    input[type="checkbox"] {
        display: none;

        & + label {
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            min-height: $switch-height;
            border-radius: 50%;
            user-select: none;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: $switch-width;
                height: $switch-height;
                background: var(--color-gray-300);
                border-radius: 30px;
                cursor: pointer;
                transition: background 0.3s ease-in-out;
            }

            &::after {
                content: "";
                position: absolute;
                top: 3px;
                left: 3px;
                width: 14px;
                height: 14px;
                background: var(--color-white);
                border-radius: 50%;
                cursor: pointer;
                transition: left 0.3s cubic-bezier(0.5, 1.5, 0.5, 1), right 0.3s cubic-bezier(0.5, 1.5, 0.5, 1);
            }

            span {
                display: flex;
                align-items: center;
                min-height: inherit;
                padding-inline-start: 45px;
                font-size: var(--font-size-lg);
                color: var(--color-black);
                cursor: pointer;
                user-select: none;
            }
        }

        &:checked {
            & + label {
                &::before {
                    background: var(--color-primary);
                }

                &::after {
                    left: 18px;
                }
            }
        }
    }
}

@include responsive-classes-down-to(".toggleSwitch", sm) {
    input[type="checkbox"] {
        & + label {
            &::before {
                top: 0;
                width: 40px;
                height: 24px;
            }

            &::after {
                top: 3px;
                width: 18px;
                height: 18px;
            }

            span {
                padding-left: 50px;
            }
        }

        &:checked {
            & + label {
                &::after {
                    left: 18px;
                }
            }
        }
    }
}

.layout[dir="rtl"] .toggleSwitch {
    & input[type="checkbox"] + label {
        &::before {
            right: 0;
            left: unset;
        }

        &::after {
            right: 3px;
            left: unset;
        }
    }

    & input[type="checkbox"]:checked + label {
        &::after {
            right: 18px;
        }
    }
}
