@import "../styles/helpers.scss";

$hand-fill: path(
    "M413.525 275.538C400.76 242.513 351.811 260.648 363.064 293.905L330.572 204.634C316.987 171.694 269.344 189.034 280.111 223L311.098 308.137L353.234 423.907C363.94 453.319 361.648 447.023 310.673 433.864C269.832 423.402 247.978 454.874 254.082 468.721C260.187 482.569 368.361 525.989 368.361 525.989C501.073 600.279 573.714 496.368 572.578 437.401C571.407 378.339 533.075 288.002 533.075 288.002C527.073 274.436 512.056 267.025 498.149 272.087C484.241 277.149 477.189 293.444 481.977 306.6L473.153 282.356C460.405 249.962 411.865 266.884 422.521 300.252L413.525 275.538Z"
);
$hand-stroke: path(
    "M363.064 293.905C351.811 260.648 400.76 242.513 413.525 275.538L422.521 300.252M363.064 293.905L330.572 204.634C316.987 171.694 269.344 189.034 280.111 223L311.098 308.137L353.234 423.907C363.94 453.319 361.648 447.023 310.673 433.864C269.832 423.402 247.978 454.874 254.082 468.721C260.187 482.569 368.361 525.989 368.361 525.989C501.073 600.279 573.714 496.368 572.578 437.401C571.407 378.339 533.075 288.002 533.075 288.002C527.073 274.436 512.056 267.025 498.149 272.087C484.241 277.149 477.189 293.444 481.977 306.6M363.064 293.905L390.46 369.174M422.521 300.252C411.865 266.884 460.405 249.962 473.153 282.356L481.977 306.6M422.521 300.252L440.921 350.807M481.977 306.6L494.974 342.308M363.064 293.905C351.811 260.648 400.76 242.513 413.525 275.538L422.521 300.252M363.064 293.905L330.572 204.634C316.987 171.694 269.344 189.034 280.111 223L311.098 308.137L353.234 423.907C363.94 453.319 361.648 447.023 310.673 433.864C269.832 423.402 247.978 454.874 254.082 468.721C260.187 482.569 368.361 525.989 368.361 525.989C501.073 600.279 573.714 496.368 572.578 437.401C571.407 378.339 533.075 288.002 533.075 288.002C527.073 274.436 512.056 267.025 498.149 272.087C484.241 277.149 477.189 293.444 481.977 306.6M363.064 293.905L390.46 369.174M422.521 300.252C411.865 266.884 460.405 249.962 473.153 282.356L481.977 306.6M422.521 300.252L440.921 350.807M481.977 306.6L494.974 342.308"
);
$speed: 2.2s;

.touch-hand {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.touch-hand-icon {
    width: 60vw;
    max-width: 440px;
}
.touchon-hand-fill {
    d: $hand-fill;
    fill: #ffffff;
    filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.5));
}
.touchon-hand-stroke {
    d: $hand-stroke;
    stroke: #333333;
    stroke-width: 12;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.touchon-hand-fill,
.touchon-hand-stroke {
    animation: $speed linear 0.6s infinite handTouch;
    transform-origin: 50% 50%;
}
.hand-touch-1,
.hand-touch-2,
.hand-touch-3 {
    stroke: #fff;
    stroke-width: 14;
    cx: 299;
    cy: 201;
    filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.4));
}
.hand-touch-1 {
    animation: $speed linear 0s infinite touch-1;
    r: 50;
}
.hand-touch-2 {
    animation: $speed linear 0s infinite touch-2;
    opacity: 0;
    r: 110;
}
.hand-touch-3 {
    animation: $speed linear 0s infinite touch-3;
    opacity: 0;
    r: 160;
}

@keyframes touch-1 {
    0% {
        r: 0;
    }
    70% {
        r: 0;
    }
    80% {
        r: 50;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes touch-2 {
    0% {
        r: 0;
    }
    50% {
        r: 0;
    }
    80% {
        r: 110;
        opacity: 0.9;
    }
    95% {
        opacity: 0;
    }
}
@keyframes touch-3 {
    30% {
        r: 0;
        opacity: 0;
    }
    80% {
        r: 160;
        opacity: 0.8;
    }
    90% {
        opacity: 0;
    }
}

@keyframes handTouch {
    0% {
        transform: scale(1, 1);
    }
    10% {
        transform: scale(0.7, 0.7);
    }
    20% {
        transform: scale(1, 1);
    }
}
