@use "@styles/utils" as *;

.efp-wayfinding-floor {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: rem(5px 15px 10px 15px);

    &__body,
    &__list {
        position: relative;
        width: 100%;
    }
    &__title {
        padding-right: rem(12px);
        font-size: var(--font-size-lg);
        color: var(--color-gray);
        font-weight: var(--font-weight-bold);
    }
    &__list {
        --gap: 8px;
        display: flex;
        gap: var(--gap);

        & > button {
            position: relative;
            z-index: 3;
            min-width: rem(38px);
            max-width: rem(100px);
            height: rem(38px);
            margin-left: -1px;
            padding: rem(0 6px);
            background: var(--color-white);
            border: 1px solid var(--color-gray-400);
            border-radius: var(--border-radius-full);
            color: var(--color-black);
            font-weight: var(--font-weight-bold);
            outline: none;
            cursor: pointer;

            &:nth-child(2) {
                animation: blinkBlue 1.4s linear 3s forwards;
                animation-delay: 4s;
            }
            &.isCurrent {
                z-index: 2;
                background: var(--color-primary-ultra-light);
                border: 1px solid var(--color-primary);
                color: var(--color-primary);
                font-weight: var(--font-weight-bold);
            }
            &.isCurrent:first-child {
                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: var(--color-primary-ultra-light);
                    border: 1px solid var(--color-primary);
                    border-radius: var(--border-radius-full);
                    z-index: 2;
                    animation: moveCopy 2s ease-in-out forwards;
                    animation-delay: 3s;
                    opacity: 0;
                }
            }
            & > span {
                display: block;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    @include kiosk {
        padding-top: rem(14px);
        padding-bottom: 0;

        &__list {
            & > button {
                width: clamp(40px, 6vw, 52px);
                height: clamp(40px, 6vw, 52px);
                color: var(--color-primary);
                font-weight: var(--font-weight-bold);
            }
        }
    }
}

.item-walk {
    position: absolute;
    bottom: rem(-6px);
    right: rem(-4px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(16px);
    height: rem(16px);
    border-radius: var(--border-radius-full);
    background: var(--color-white);
    border: 1px solid var(--color-primary);

    & > svg {
        width: rem(7px);
        height: rem(11px);
        fill: var(--color-primary);
    }

    @include kiosk {
        width: clamp(14px, 3vw, 20px);
        height: clamp(14px, 3vw, 20px);

        & > svg {
            width: 50%;
            height: auto;
        }
    }
}

.line-arrows {
    position: absolute;
    top: 50%;
    margin-top: rem(-12px);
    right: rem(-10px);
    animation: ArrowsfadeInOut 8s ease-in-out infinite;

    & > svg {
        width: rem(18px);
        height: rem(10px);
        fill: var(--color-primary);

        & > path {
            animation: arrowWave 1s infinite;
            animation-direction: alternate;

            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    animation-delay: #{0.5 * ($i - 1)}s;
                }
            }
        }
    }
}

@keyframes moveCopy {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    60% {
        transform: translateX(calc(100% + var(--gap)));
        opacity: 0.7;
    }
    100% {
        transform: translateX(calc(100% + var(--gap)));
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes blinkBlue {
    0%,
    0%,
    100% {
        box-shadow: none;
    }
    25%,
    75% {
        box-shadow: 0 0 10px 2px rgba(65, 182, 231, 0.3);
        background: var(--color-primary-ultra-light);
        border: 1px solid var(--color-primary);
        color: var(--color-primary);
    }
}

@keyframes ArrowsfadeInOut {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes arrowWave {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
