@use "@styles/vars";
@use "@styles/utils" as *;

.efp-wayfinding {
    display: flex;
    flex-flow: column wrap;
    gap: rem(14px);
    padding-bottom: rem(16px);

    &.isCollapsed {
        gap: 0;
    }

    @include kiosk {
        gap: 0;

        &__top {
            padding-bottom: rem(30px);
        }
    }
}

.efp-wayfindingForm {
    display: flex;
    align-items: center;
    padding-inline-end: rem(10px);

    &__icons {
        position: relative;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        width: 45px;
        height: 110px;
        padding-inline-start: rem(15px);
    }

    &__from,
    &__to,
    &__dots {
        display: flex;
        align-items: center;
        height: rem(50px);
    }

    &__from > svg {
        width: rem(21px);
        height: rem(21px);
    }

    &__to > svg {
        width: rem(20px);
        height: rem(25px);
    }

    &__dots {
        position: absolute;
        top: 50%;
        left: 50%;
        width: rem(4px);
        height: rem(18px);
        margin-inline-start: 1px;
        transform: translateY(-50%);
    }

    &__controls {
        flex: 1;
        padding-inline-end: rem(10px);
    }

    &__switch {
        width: rem(30px);
        height: rem(34px);
        padding: 0;
        background: transparent;
        border: 0;
        border-radius: var(--border-radius-md);
        color: var(--color-gray-700);
        cursor: pointer;
        transition: all var(--transition-duration) ease;

        &::before {
            @include icon;

            content: vars.$icon-switch-vertical;
            font-size: var(--icon-size-md);
        }

        &:hover {
            background: var(--color-gray-200);
            color: var(--color-black);
        }
    }

    @include kiosk {
        align-items: unset;
        padding-inline-end: var(--k-spacing-lg);

        &__icons-item {
            height: var(--k-input-height);

            &.is-from::before {
                width: rem(24px);
                height: rem(24px);
            }

            &.is-to::before {
                width: rem(22px);
                height: rem(28px);
            }
        }

        &__icons {
            width: rem(56px);
            height: unset;
            padding-left: var(--k-spacing-lg);
        }

        &__controls {
            padding-right: rem(16px);
        }

        &__switch {
            align-self: center;
            width: clamp(30px, 4vw, 38px);
            height: rem(50px);
        }
    }
}

.efp-wayfindingError {
    padding: rem(20px 15px);
    border-top: 1px solid var(--color-gray-300);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    color: var(--color-gray-700);
    text-align: center;
}

.main-wayfinding {
    @include kiosk {
        max-height: calc(100vh - (var(--k-app-gap) * 2));

        &.hidden {
            .efp-wayfinding__top {
                padding: 0;
            }
        }

        .efp-wayfinding {
            padding-bottom: 0;
        }

        .overlay-bar {
            position: relative;
            border-top-right-radius: var(--k-border-radius-1);
            border-top-left-radius: var(--k-border-radius-1);
            box-shadow: unset;

            &.scrolled {
                box-shadow: var(--k-box-shadow-1);
            }
        }

        .overlay-content__scrollable {
            top: unset;
            max-height: unset;
            overflow: unset !important;
            border-bottom-right-radius: var(--k-border-radius-1);
            border-bottom-left-radius: var(--k-border-radius-1);
        }

        .efp-autocomplete {
            min-height: var(--k-input-height);

            &::before,
            &::after {
                height: var(--k-input-height);
            }

            &__inner {
                border-radius: var(--k-border-radius-4);
            }

            &__input {
                height: var(--k-input-height);
                border-radius: var(--k-border-radius-4);
                background: rgb(255 255 255 / 60%);
            }

            &.is-open {
                .efp-autocomplete__input {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
        }
    }
}

.layout[dir="rtl"] .efp-wayfindingForm {
    &__icons::after {
        right: 50%;
    }
}
