@use "@styles/vars";
@use "@styles/utils" as *;

.efp-wayfinding {
    display: flex;
    flex-flow: column wrap;
    gap: rem(14px);

    &.isCollapsed {
        gap: 0;
    }

    @include kiosk {
        gap: 0;

        &__top {
            padding-bottom: rem(30px);
        }
    }
}

.efp-wayfindingForm {
    display: flex;
    align-items: center;
    padding-inline-end: rem(10px);

    &__icons {
        position: relative;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        width: 45px;
        height: 110px;
        padding-inline-start: rem(15px);
    }
    &__from,
    &__to,
    &__dots {
        display: flex;
        align-items: center;
        height: 50px;
    }
    &__from > svg {
        width: 21px;
        height: 21px;
    }
    &__to > svg {
        width: 20px;
        height: 25px;
    }
    &__dots {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        margin-inline-start: 1px;
        width: 4px;
        height: 18px;
    }
    &__controls {
        flex: 1;
        padding-inline-end: rem(10px);
    }
    &__switch {
        width: rem(30px);
        height: rem(34px);
        padding: 0;
        background: transparent;
        border: 0;
        border-radius: var(--border-radius-md);
        color: var(--color-gray-700);
        cursor: pointer;
        transition: all var(--transition-duration) ease;

        &:before {
            @include icon();
            content: vars.$icon-switch-vertical;
            font-size: var(--icon-size-md);
        }
        &:hover {
            background: var(--color-gray-200);
            color: var(--color-black);
        }
    }

    @include kiosk {
        align-items: unset;
        padding-inline-end: var(--k-spacing-lg);

        &__icons-item {
            height: var(--k-inputHeight);

            &.is-from::before {
                width: rem(24px);
                height: rem(24px);
            }
            &.is-to::before {
                width: rem(22px);
                height: rem(28px);
            }
        }
        &__icons {
            width: rem(56px);
            height: unset;
            padding-left: var(--k-spacing-lg);
        }
        &__controls {
            padding-right: rem(16px);
        }
        &__switch {
            align-self: center;
            width: clamp(30px, 4vw, 38px);
            height: rem(50px);
        }
    }
}

.efp-wayfindingError {
    padding: rem(20px 15px);
    border-top: 1px solid var(--color-gray-300);
    font-size: var(--font-size-xl);
    color: var(--color-gray-700);
    font-weight: var(--font-weight-bold);
    text-align: center;
}

.main-wayfinding {
    @include kiosk {
        max-height: calc(100vh - (var(--k-app-gap) * 2));

        &.hidden {
            .efp-wayfinding__top {
                padding: 0;
            }
        }
        .overlay-bar {
            position: relative;
            box-shadow: unset;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &.scrolled {
                box-shadow: var(--k-box-shadow-1);
            }
        }
        .overlay-content__scrollable {
            top: unset;
            max-height: unset;
            overflow: unset !important;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        .efp-autocomplete__input {
            height: var(--k-inputHeight);
            background: rgba(255, 255, 255, 0.6);
        }
        .efp-autocomplete {
            min-height: var(--k-inputHeight);

            &::before,
            &::after {
                height: var(--k-inputHeight);
            }
            &__input {
                height: var(--k-inputHeight);
            }
        }
    }
}

.layout[dir="rtl"] .efp-wayfindingForm {
    &__icons:after {
        right: 50%;
    }
}
