@import "../styles/helpers.scss";

.efp-wayfinding-floor {
    display: flex;
    align-items: center;
    padding: rem(0 15px);

    &__title {
        padding-right: rem(12px);
        font-size: var(--text-size-2);
        color: var(--color-gray);
        font-weight: var(--font-bold);
    }

    &__list {
        & > button {
            position: relative;
            z-index: 1;
            width: rem(30px);
            height: rem(30px);
            margin-left: -1px;
            background: var(--color-white);
            border: 1px solid var(--color-grayLight);
            color: var(--color-black);
            outline: none;
            cursor: pointer;

            &:first-child {
                border-top-left-radius: var(--border-radius-1);
                border-bottom-left-radius: var(--border-radius-1);
            }

            &:last-child {
                border-top-right-radius: var(--border-radius-1);
                border-bottom-right-radius: var(--border-radius-1);
            }

            &.isCurrent {
                z-index: 2;
                background: var(--color-grayLight);
                border-color: var(--color-grayLight);
                font-weight: var(--font-bold);
            }
        }
    }
}

.efp-kiosk {
    .efp-wayfinding-floor {
        &__list {
            & > button {
                width: clamp(40px, 4vw, 52px);
                height: clamp(40px, 6vh, 46px);
                color: var(--k-color-primary);
                font-weight: var(--font-bold);

                &.isCurrent {
                    color: var(--k-color-darkGray);
                }
                &:first-child {
                    padding-left: 10px;
                    border-top-left-radius: var(--k-border-radius-3);
                    border-bottom-left-radius: var(--k-border-radius-3);
                }
                &:last-child {
                    padding-right: 10px;
                    border-top-right-radius: var(--k-border-radius-3);
                    border-bottom-right-radius: var(--k-border-radius-3);
                }
            }
        }
    }
}
