@import "../styles/helpers.scss";

.wayFindingForm {
    display: flex;

    &__icons {
        position: relative;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        width: 45px;
        height: 110px;
        padding-left: rem(15px);

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 50%;
            margin-left: -1px;
            width: 4px;
            height: 18px;
            background: url("../../public/icons/dots.svg");
        }
        &-item {
            display: flex;
            align-items: center;
            height: 50px;

            &.is-from {
                &:before {
                    content: "";
                    width: 18px;
                    height: 18px;
                    background: url("../../public/icons/from.svg");
                    background-size: cover;
                }
            }
            &.is-to {
                &:before {
                    content: "";
                    width: 18px;
                    height: 23px;
                    background: url("../../public/icons/to.svg");
                    background-size: cover;
                }
            }
        }
    }
    &__controls {
        flex: 1;
        padding: rem(0 15px 0 0);
    }
}
