@import "../styles/helpers.scss";

.efp-wayfinding-floor {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: rem(0 15px 10px 15px);

    &__body,
    &__list {
        position: relative;
        width: 100%;
    }
    &__title {
        padding-right: rem(12px);
        font-size: var(--text-size-2);
        color: var(--color-gray);
        font-weight: var(--font-bold);
    }
    &__list {
        display: flex;

        & > button {
            position: relative;
            flex: 1;
            min-width: 0;
            height: rem(34px);
            margin-left: -1px;
            padding: rem(0px 12px 2px 12px);
            background: var(--color-white);
            border: 1px solid var(--color-grayLight);
            border-bottom: 3px solid var(--color-grayLight);
            color: var(--color-black);
            font-weight: var(--font-bold);
            outline: none;
            cursor: pointer;

            &:first-child {
                border-top-left-radius: var(--border-radius-1);
            }
            &:last-child {
                border-top-right-radius: var(--border-radius-1);
            }
            &.isCurrent {
                z-index: 2;
                background: var(--color-primaryLight);
                border: 0;
                border-bottom: 3px solid var(--color-primary);
                color: var(--color-primary);
                font-weight: var(--font-bold);
            }
            &.greyedOut {
                background: var(--color-grayLight);
                border-bottom: 3px solid var(--color-primary);
                font-weight: var(--font-normal);
            }
            & > span {
                display: block;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}

.line-arrows {
    position: absolute;
    top: 50%;
    margin-top: rem(-12px);
    right: rem(-10px);
    animation: ArrowsfadeInOut 8s ease-in-out infinite;

    & > svg {
        width: rem(18px);
        height: rem(10px);
        fill: var(--color-primary);

        & > path {
            animation: arrowWave 1s infinite;
            animation-direction: alternate;

            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    animation-delay: #{0.5 * ($i - 1)}s;
                }
            }
        }
    }
}

.efp-kiosk {
    .efp-wayfinding-floor__list > button {
        width: clamp(40px, 4vw, 52px);
        height: clamp(40px, 6vh, 46px);
        color: var(--k-color-primary);
        font-weight: var(--font-bold);

        &:first-child {
            padding-left: 10px;
            border-top-left-radius: var(--k-border-radius-3);
            border-bottom-left-radius: var(--k-border-radius-3);
        }
        &:last-child {
            padding-right: 10px;
            border-top-right-radius: var(--k-border-radius-3);
            border-bottom-right-radius: var(--k-border-radius-3);
        }
        &.isCurrent {
            color: var(--k-color-darkGray);
        }
    }
}

@keyframes ArrowsfadeInOut {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes arrowWave {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
