@use "@styles/utils" as *;

.ws {
    position: absolute;
    right: rem(10px);
    display: flex;
    justify-content: space-around;
    background: var(--color-white);
    border-radius: var(--border-radius-lg);
    box-shadow: var(--shadow-md);
    filter: brightness(97%);
    transition: opacity 0.5s;
    z-index: 102;
    overflow: hidden;

    &__exhibitor {
        display: flex;
        align-items: center;
        background: var(--color-white);
        margin: rem(5px 0);

        > img {
            max-height: 100%;
        }
    }
    @media print {
        display: none;
    }
}
.ws__list-item {
    display: inline-block;
    margin-right: rem(10px);
}
.ws__exhibitor.exit {
    display: none;
}
.overlay-left .ws__exhibitor {
    &.enter {
        opacity: 0;
    }
    &.enter-active {
        opacity: 1;
        transition: opacity 0.5s;
    }
    &.exit {
        display: none;
    }
}

.efp-kiosk {
    &.efp-ws-mode {
        .overlay-content__scrollable {
            max-height: var(--k-sidebarMaxHeightWithWs);
        }
    }
    .ws {
        top: unset !important;
        bottom: 0;
        right: 0 !important;
        width: 100vw !important;
        height: var(--k-ws-height);
        max-height: var(--k-ws-height);
        align-items: center;
        border-radius: 0;
    }
}

.layout[dir="rtl"] .ws {
    right: unset !important;
    left: 10px;
}

@media (max-width: 550px) {
    .ws {
        border-radius: 0;
    }
}
