@import "../../styles/helpers.scss";

.market-materials {
    margin: 1rem;
    font-size: 0.9rem;

    &__title {
        padding: 0.7rem 0;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item a {
        cursor: pointer;
        margin-bottom: 0.4rem;
        color: var(--color-primary);
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:visited {
            color: var(--color-primary);
            text-decoration: none;
        }
        &:hover {
            color: var(--color-primaryDark);
            text-decoration: none;

            .wrapper-file-icon {
                background-color: var(--color-primaryDark);
            }
            .wrapper-download-icon {
                color: var(--color-primaryDark);
            }
        }
    }
    &__item-name {
        display: flex;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__item-download-button {
        width: 1.6rem;
        min-width: 1.6rem;
        height: 100%;
    }

    .wrapper-file-icon {
        background-color: var(--color-primary);
        color: var(--color-white);
        border-radius: 50%;
        width: 1.4rem;
        height: 1.4rem;
        min-width: 1.4rem;
        min-height: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.3rem;
    }

    .wrapper-download-icon {
        color: var(--color-primary);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}