@use "@styles/utils" as *;

$im: 0.4rem;

.booth {
    &__bar {
        margin-inline-start: rem(16px);
        padding: rem(16px 0);
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-bold);
        line-height: rem(24px);
        color: var(--color-black);
        overflow-wrap: break-word;
    }

    &__content {
        margin: rem(0 16px);
    }

    &__title {
        font-weight: var(--font-weight-medium);
    }

    &__info {
        display: flex;
        gap: rem(12px);
        align-items: center;
        margin-bottom: rem(10px);
        padding: rem(12px);
        background: var(--color-gray-100);
        border: 1px solid var(--color-gray-300);
        border-radius: var(--border-radius-lg);

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(46px);
            height: rem(46px);
            background: var(--color-primary-ultra-light);
            border-radius: var(--border-radius-full);
            color: var(--color-primary);

            & > i {
                font-size: var(--icon-size-md);
            }
        }

        &-body {
            flex: 1;
        }

        &-title {
            font-size: var(--font-size-sm);
            font-weight: var(--font-weight-medium);
            color: var(--color-gray-600);
            text-transform: uppercase;
        }

        &-val {
            font-size: var(--font-size-xl);
            font-weight: var(--font-weight-medium);
            color: var(--color-gray-black);
        }

        &.is-onhold {
            .booth__info-icon {
                background: var(--color-gray-300);
                color: var(--color-gray-600);
            }

            .booth__info-title {
                color: var(--color-gray-600);
            }

            .booth__info-val {
                color: var(--color-gray-700);
            }
        }
    }

    &__buy {
        margin: rem(32px 0 8px);

        a {
            width: 100%;
        }
    }

    &__directions {
        margin: rem(8px 0);

        > button {
            cursor: pointer;
        }
    }

    &__reserve-instructions {
        line-height: 1.4em;
    }

    &__desc {
        p,
        span {
            background: transparent !important;
            overflow-wrap: break-word;
        }
    }

    @include kiosk {
        &__bar {
            margin-inline-start: var(--k-spacing-lg);
            padding: 0;
        }

        &__desc {
            a {
                pointer-events: none;
            }
        }
    }
}
