$overlay-height: 3.5rem;

// responsive
$grid-breakpoints: (
    xs: 0,
    sm: 480px,
    md: 768px,
    lg: 998px,
    xl: 1100px,
);

// Rem settings
$rem-baseline: 16;
$rem-baseline-px: 16px;
$rem-fallback: false;
$rem-px-only: false;

$border-radius: 2px;

// Colors
$color-white: #ffffff;
$color-black: #333333;
// $color-primary: #5690ff;
// $color-primaryLight: #6b9eff;
$color-primary: #41b6e7;
$color-primaryLight: #2f99c7;
$color-primaryDark: #1598d0;
$color-secondary: #3d91f7;
$color-secondaryLight: #6b9eff;
$color-gray: #949494;
$color-darkgray: #5e5e5e;
$color-lightgray: #e4e4e4;
$color-ultraLightgray: #f2f2f2;

// Icons
$icon-switch-horizontal: "\e91a";
$icon-chevron-left: "\e900";
$icon-chevron-right: "\e901";
$icon-chevron-up: "\e902";
$icon-close: "\e903";
$icon-close-circle: "\e904";
$icon-copy: "\e905";
$icon-directions: "\e906";
$icon-facebook: "\e907";
$icon-info-circle: "\e908";
$icon-linkedin: "\e909";
$icon-question: "\e90a";
$icon-refresh: "\e90b";
$icon-share: "\e90c";
$icon-swap: "\e90d";
$icon-twitter: "\e90e";
$icon-warning-circle: "\e90f";
$icon-arrow-down: "\e910";
$icon-arrow-left: "\e911";
$icon-arrow-right: "\e912";
$icon-arrow-up: "\e913";
$icon-bookmark: "\e914";
$icon-bookmark-fill: "\e915";
$icon-calendar: "\e916";
$icon-checked: "\e917";
$icon-checked-circle: "\e918";
$icon-chevron-down: "\e919";
