$overlay-height: 3.5rem;

// Rem settings
$rem-baseline: 16;
$rem-baseline-px: 16px;
$rem-fallback: false;
$rem-px-only: false;

// Colors
$color-white: #ffffff;
$color-black: #333333;
$color-primary: #5690ff;
$color-primaryLight: #6b9eff;
$color-gray: #949494;
$color-darkgray: #5e5e5e;
$color-lightgray: #e4e4e4;
$color-ultraLightgray: #f2f2f2;
